.styles_container__5MXSs .styles_dropdown__BQ713 {
  cursor: pointer;
}

.styles_selected__HasMu {
  border: 1px solid #fff;
  border-radius: 12px;
}

.styles_selected__HasMu:hover {
  color: #005ef6;
}

@media (max-width: 759px) {
  .styles_selected__HasMu {
    padding: 10px 0;
    border-radius: 16px;
  }
}

/*LOGO*/
.logo {
  display: inline-block;
  height: 50px;
  width: 45px;
  position: relative;
}

.square {
  height: 60px;
  width: 50px;
  border: 1px solid white;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 1vm;
  line-height: 12px;
  padding: 2px 5px;
  box-sizing: border-box;
}

.styles_menu__k3KI_ {
  background: #fff;
  position: absolute;
  border: 1px solid #d9e1ec;
  box-shadow: 0 0 8px 1px rgba(33, 41, 60, 0.1);
  border-radius: 4px;
  z-index: 10;
}

.styles_feeds__6Wr4b {
  padding: 0 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: -8px;
}

.styles_statusIcons__4oH6f {
  position: absolute;
  z-index: 1;
  right: 6px;
  bottom: -8px;
}

.styles_thumbnail__Rmwk5 {
  position: relative;
}


.styles_voteButton__WtFrY {
  cursor: pointer;
  text-transform: none !important;
  display: inline-flex;
  align-items: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 759px) {
  .styles_voteButton__WtFrY {
    margin-right: 10px;
  }
}

.styles_voteButton__WtFrY:before {
  content: "";
  background-image: url(https://ph-static.imgix.net/upvote-burst-orange-black.png?format=auto&auto=compress);
  background-repeat: no-repeat;
  background-size: 240px 10px;
  background-position: 0;
  height: 10px;
  width: 10px;
  display: inline-block;
  filter: contrast(10%);
}

@keyframes styles_arrow-burst__Ng_cP {
  0% {
    background-position: 0;
  }
  to {
    background-position: -230px 0;
  }
}

.styles_voteButton__WtFrY > div {
  color: #4b587c;
  text-transform: none;
  padding-left: 4px;
}

.styles_voteButton__WtFrY.styles_animate__8iHV_ > div,
.styles_voteButton__WtFrY.styles_hasVoted__plq18 > div {
  color: #ff6154;
}

.styles_voteButton__WtFrY.styles_animate__8iHV_:before {
  animation-iteration-count: 1;
  animation-play-state: running;
  animation: styles_arrow-burst__Ng_cP 0.6s steps(24) 1;
}

.styles_voteButton__WtFrY.styles_hasVoted__plq18:before {
  /* background-image: url(https://ph-static.imgix.net/upvote-burst-orange.png?format=auto&auto=compress); */
  background-position: -230px 0;
  filter: none;
}

.styles_feed__JnsOv {
  position: relative;
  border: 1px solid #d9e1ec;
  transition: all 0.3s ease;
  max-height: 64px;
  padding: 7px 4px 12px;
  min-width: 52px;
  max-width: 52px;
  background: #fff;
}

.styles_feed__JnsOv > * {
  position: relative;
  z-index: 3;
}

.styles_feed__JnsOv:after {
  opacity: 0;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #fca0b5, inset 0 0 0 2px #fff,
    inset 0 0 0 3px #fca0b5;
  background: #fff;
}

.styles_feed__JnsOv:not(:disabled):focus,
.styles_feed__JnsOv:not(:disabled):hover {
  border-color: #fdd1be;
}

.styles_feed__JnsOv:not(:disabled):active:after,
.styles_feed__JnsOv:not(:disabled):focus-visible:after {
  opacity: 1;
}

.styles_feed__JnsOv:disabled {
  background: #fff !important;
  opacity: 0.5;
}

.styles_feed__JnsOv.styles_upvoted__MHCbr:before {
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  padding: 1px;
}

.styles_large__OlswC {
  min-width: 224px;
  padding: 20px;
  background-color: #ff6154;
  color: #fff;
  text-align: center;
}

.styles_large__OlswC:not(:disabled):after {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(227deg, #ff4582, #ff6154);
  opacity: 0;
  transition: all 0.3s ease;
}

.styles_large__OlswC:not(:disabled):focus:after,
.styles_large__OlswC:not(:disabled):hover:after {
  opacity: 1;
}

.styles_large__OlswC:not(:disabled) > div {
  position: relative;
  z-index: 2;
}

.styles_large__OlswC:not(:disabled):active,
.styles_large__OlswC:not(:disabled):focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff6154;
}

.styles_large__OlswC:not(:disabled):active:after,
.styles_large__OlswC:not(:disabled):focus-visible:after {
  opacity: 0;
}

.styles_large__OlswC:disabled {
  opacity: 0.5;
  background-color: #4b587c;
}

.styles_large__OlswC .styles_icon___8PK0 {
  margin-left: -20px;
}

.styles_medium__zdic7 {
  min-width: 163px;
  text-align: center;
  padding: 8px;
  background-color: #ff6154;
  color: #fff;
}

.styles_medium__zdic7:not(:disabled):after {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(227deg, #ff4582, #e12e0d);
  opacity: 0;
  transition: all 0.3s ease;
}

.styles_medium__zdic7:not(:disabled):focus:after,
.styles_medium__zdic7:not(:disabled):hover:after {
  opacity: 1;
}

.styles_medium__zdic7:not(:disabled) > div {
  position: relative;
  z-index: 2;
}

.styles_medium__zdic7:not(:disabled):active,
.styles_medium__zdic7:not(:disabled):focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff6154;
}

.styles_medium__zdic7:not(:disabled):active:after,
.styles_medium__zdic7:not(:disabled):focus-visible:after {
  opacity: 0;
}

.styles_medium__zdic7:disabled {
  opacity: 0.5;
  background-color: #4b587c;
}

.styles_medium__zdic7 .styles_icon___8PK0 {
  width: 30px;
}

.styles_medium__zdic7 .styles_voted__DPbzg {
  margin-left: 10px;
}

.styles_medium__zdic7 .styles_voteContainer__lZ7jH {
  margin-left: -10px;
}

.styles_upvoted__MHCbr {
  border-color: transparent !important;
  background: #fff !important;
  box-shadow: none !important;
}

.styles_upvoted__MHCbr:after {
  opacity: 0 !important;
}

.styles_upvoted__MHCbr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  padding: 2px;
  background: #feb6b0;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.styles_minimal__Y4LXa {
  background-color: transparent;
  border-color: transparent;
  height: 100%;
  width: 52px;
  padding: 0;
}

.styles_minimal__Y4LXa:disabled {
  background: #fff !important;
  opacity: 0.5;
}

@keyframes styles_arrow-burst__QIvnf {
  0% {
    background-position: 0;
  }
  to {
    background-position: 100%;
  }
}

.styles_animate__7MflB {
  animation: styles_arrow-burst__QIvnf 0.8s steps(28) 1;
  animation-fill-mode: forwards;
}

.styles_icon___8PK0 {
  width: 45px;
  height: 26px;
  background-position: 0;
  background-repeat: no-repeat;
  background-size: 2900%;
}

.styles_icon___8PK0.styles_lightGrey__b_fhT {
  /* background-image: url(https://ph-static.imgix.net/upvote-burst-2022.png?format=auto&auto=compress); */
}

.styles_icon___8PK0.styles_white__zYBPo {
  /* background-image: url(https://ph-static.imgix.net/upvote-burst-2022-big-button.png?format=auto&auto=compress); */
}

.styles_voted__DPbzg {
  background-position: 100%;
}

.styles_small__hCBNW {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: #4b587c;
  background: #fff;
  position: relative;
  border: 1px solid #d9e1ec;
  transition: all 0.3s ease;
  max-height: 24px;
  padding: 0 8px 0 0;
}

.styles_small__hCBNW > * {
  position: relative;
  z-index: 1;
}

.styles_small__hCBNW:after {
  opacity: 0;
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #fca0b5, inset 0 0 0 2px #fff,
    inset 0 0 0 3px #fca0b5;
  background: #fff;
}

.styles_small__hCBNW:not(:disabled):focus,
.styles_small__hCBNW:not(:disabled):hover {
  border-color: #fdd1be;
}

.styles_small__hCBNW:not(:disabled):active:after,
.styles_small__hCBNW:not(:disabled):focus-visible:after {
  opacity: 1;
}

.styles_small__hCBNW.styles_active__d7D8G {
  border-color: transparent !important;
  background: #fff !important;
  box-shadow: none !important;
}

.styles_small__hCBNW.styles_active__d7D8G:after {
  opacity: 0 !important;
}

.styles_small__hCBNW.styles_active__d7D8G:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  padding: 1px;
  border-radius: 4px;
  background: linear-gradient(227deg, #ff4582, #e12e0d);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.styles_small__hCBNW:disabled {
  opacity: 0.5;
  background: #fff;
  border: 1px solid #d9e1ec;
}

.styles_small__hCBNW .styles_icon___8PK0 {
  width: 28px;
  height: 20px;
}

.styles_mobileVoteButton__FVF_3 {
  height: 100%;
  width: 52px;
  border-left: 1px solid #d9e1ec;
  background: #fff;
  border-radius: 0;
}

.styles_borderless__frw6H {
  border: none;
}

.styles_button__Pe4nq {
  color: #4b587c;
  background: #fff;
  transition: all 0.3s ease;
  max-height: 24px;
}

.styles_button__Pe4nq:visited {
  color: #667190;
}

.styles_button__Pe4nq:visited path {
  fill: #667190;
}

.styles_button__Pe4nq:hover {
  color: #667190;
}

.styles_button__Pe4nq:hover path {
  fill: #667190;
}

.styles_icon__SI2oN {
  width: 12px;
  height: 18px;
  margin-right: 8px;
}

.styles_popover__uvsG7 {
  z-index: 60;
}

@keyframes styles_fadein__KDTqV {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.styles_popper__s_KV4 {
  animation-delay: 0.1s;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: styles_fadein__KDTqV;
  animation-timing-function: ease-in;
  border-radius: 3px;
  display: flex;
  opacity: 0;
  padding: 5px 8px;
  pointer-events: none;
  text-align: center;
  z-index: 60;
  background: #000;
}

.styles_popper__s_KV4[data-placement^="top"] {
  margin-bottom: 5px;
}

.styles_popper__s_KV4[data-x-out-of-boundaries] {
  display: none;
}

@keyframes styles_fadeIn__tu4uh {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tool_item {
  width: 100%;
  animation: styles_fadeIn__tu4uh 0.3s ease-in-out;
}

.tool_item .styles_title__jWi91:visited {
  color: #636876;
}

.tool_item .styles_tagline__j29pO:visited {
  color: #667190;
}

@media (min-width: 760px) {
  .tool_item {
    background-color: #fff;
    background-image: linear-gradient(12deg, #fff 50%, hsla(0, 0%, 100%, 0));
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
  @media (hover: hover) {
    .tool_item:hover {
      cursor: pointer;
      border-radius: 4px;
      background-color: #b192ff;
    }
    .tool_item:hover .styles_externalLinkIcon__822Ku {
      display: inline-block;
    }
  }
}

.styles_thumbnail__E2_pB img,
.styles_thumbnail__E2_pB video {
  border-radius: 4px;
}

.styles_externalLinkIcon__822Ku {
  margin-left: 12px;
  display: none;
}

@media (min-width: 1100px) {
  .styles_externalLinkIcon__822Ku:hover svg path {
    stroke: #005ef6;
  }
}

.styles_middleDot__9bBel:after {
  content: "\00B7";
  color: #4b587c;
}

@media (min-width: 760px) {
  .styles_postTopicLink__wDe_p:hover {
    text-decoration: underline;
  }
}

.styles_postTopicLink__wDe_p:visited div {
  color: #667190;
}

.styles_userName__xfYmu {
  white-space: nowrap;
}

@keyframes styles_fadeIn__hfwlx {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.styles_item__xCzBI {
  position: relative;
  animation: styles_fadeIn__hfwlx 0.3s ease-in-out;
}

@media (min-width: 760px) {
  .styles_item__xCzBI {
    background-color: #fff;
    background-image: linear-gradient(12deg, #fff 50%, hsla(0, 0%, 100%, 0));
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
  .styles_item__xCzBI:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: #feede6;
  }
}

.styles_item__xCzBI .styles_closeButton__fE0Vs {
  display: none;
}

.styles_item__xCzBI:hover .styles_closeButton__fE0Vs {
  display: block;
}

.styles_thumbnail__Isd_w {
  border-radius: 4px;
}

.styles_deal__1NySj {
  background-color: #64ce7c;
  border-radius: 3px;
}

.styles_closeButton__fE0Vs {
  position: absolute;
  right: -8px;
  top: -7px;
}

.styles_adMeta__2eWNo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.styles_item__VNLxb {
  cursor: pointer;
}

.styles_thumbnail__OKtRz {
  border-radius: 4px;
}

.styles_container__KsWpK {
  cursor: pointer;
}

.styles_thumbnail__HB3bo {
  margin-right: 8px;
  border-radius: 4px;
}

.styles_thumbnail__f9C_k {
  border-radius: 4px;
}

.styles_ad__09vey,
.styles_item__R__3a {
  cursor: pointer;
}

.styles_thumbnail__dmcAZ {
  border-radius: 4px;
}

.styles_container__oOuC0 {
  border-top: 1px solid #d9e1ec;
  border-bottom: 1px solid #d9e1ec;
}

.styles_mobileBtnContainer__xTQje {
  border-left: 1px solid #d9e1ec;
}

.styles_thumbnail__acWBM img,
.styles_thumbnail__acWBM video {
  border-radius: 4px;
}

.styles_voteButton__tIPE0 {
  width: 64px;
  height: 75px;
  margin-bottom: 10px;
}

.styles_voteButton__tIPE0 span:first-child {
  display: flex;
  flex-direction: column;
}

.styles_active__LO7aj span div:first-child {
  /* background-image: url(https://ph-static.imgix.net/upvote-burst-orange.png?format=auto&auto=compress) !important; */
}

.styles_small__n0ajb.styles_active__LO7aj {
  color: #fff;
}

.styles_mobileVoteButton__4Ix1p {
  width: 52px;
}

.styles_discussionLinks__j7Vfm {
  max-height: 24px;
  overflow: hidden;
}

.styles_moreDiscussions__BlXBw {
  display: inline-block;
}

.styles_thumbnail___2I_B {
  border-radius: 4px;
}

.styles_container__1FWLQ,
.styles_outerContainer__IA0j1 {
  position: relative;
}

.styles_firstContainer__l3bRp {
  position: absolute;
  top: 0;
  margin-left: 0 !important;
}

.styles_first__v2yPr {
  border-radius: 4px;
  background-color: #fff;
  height: 60px;
  width: 60px;
  box-shadow: 0 0 4px 0 rgba(33, 41, 60, 0.1);
}

.styles_square__6ydb_ {
  height: 60px;
  width: 60px;
  position: relative;
  top: -6px;
  right: 6px;
  border-radius: 4px;
  transform: rotate(-8deg);
}

.styles_container__JOJsN {
  border-top: 1px solid #d9e1ec;
  border-bottom: 1px solid #d9e1ec;
}

.styles_mobileBtnContainer__RnOVO {
  border-left: 1px solid #d9e1ec;
}

.styles_activeFollowButton__Hx2bm {
  width: 98px;
}

.styles_textFollowButton__EBVJa:hover div {
  color: #ff6154;
}

.styles_textFollowButton__EBVJa:hover svg path {
  fill: #ff6154;
}

.styles_textFollowingButton__4O1JF svg path {
  fill: #4b587c;
}

.styles_activeProductFollowButton__sinoL {
  width: 98px;
}

.styles_blankButton__R_Z48 {
  padding: 0;
}

.styles_textFollowButton__Krvu8:hover div {
  color: #ff6154;
}

.styles_textFollowButton__Krvu8:hover svg path {
  fill: #ff6154;
}

.styles_textFollowingButton__1R4sk svg path {
  fill: #4b587c;
}

.styles_mutedIcon__9tkPz {
  opacity: 0.6;
}

.styles_button__FC2Xf {
  height: 20px;
}

.styles_star__4FDgy {
  cursor: pointer;
}

.styles_star__4FDgy path {
  transition: fill 0.2s ease-in;
}

.styles_readOnlyStar__eipGF {
  cursor: inherit;
}

.styles_tinyStar__KsgZx svg {
  width: 12px;
  height: 11px;
}

.styles_smallStar__vsA_B svg {
  width: 14px;
  height: 13px;
}

.styles_mediumStar__pp3fR svg {
  width: 20px;
  height: 20px;
}

.styles_bigStar__DxHkP svg {
  width: 24px;
  height: 23px;
}

.styles_blueStar__37Fgj path {
  fill: #005ef6;
}

.styles_yellowStar__jjAqI path {
  fill: #f5a623;
}

.styles_modal__MdNFN {
  width: calc(72px * 6 + 32px * 5);
}

@media (max-width: 759px) {
  .styles_modal__MdNFN {
    padding-top: 20px;
    max-width: 100%;
  }
}

.styles_successModal__BwsLM {
  height: 460px;
  max-height: 100%;
}

.styles_item__W4O__ {
  width: 100%;
}

.styles_hoverGradient__8U229 {
  animation: styles_fadeIn__qfzF2 0.3s ease-in-out;
}

@media (min-width: 760px) {
  .styles_hoverGradient__8U229 {
    background-image: linear-gradient(12deg, #fff 50%, hsla(0, 0%, 100%, 0));
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
  }
  @media (hover: hover) {
    .styles_hoverGradient__8U229:hover {
      cursor: pointer;
      border-radius: 4px;
      background-color: #feede6;
    }
  }
}

.styles_review__CAwcJ {
  display: flex;
}

.styles_followersCount__3cUpz {
  flex-shrink: 0;
}

.styles_userImage__YNZVv {
  margin-right: -4px;
}

.styles_userImage__YNZVv img {
  border: 2px solid #fff;
  background: #fff;
}

.styles_content__r7xx5 {
  color: #4b587c;
  display: flex;
  flex-direction: column;
  margin: 12px;
  gap: 12px;
}

.styles_separators__xnDgp {
  gap: 0;
}

.styles_separators__xnDgp > * {
  padding-bottom: 8px;
}

.styles_separators__xnDgp > * + * {
  padding: 8px 0;
  border-top: 1px solid #eef2ff;
}

.styles_facebook__3VE1d {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 8px;
  background: rgba(59, 89, 152, 0.1);
  color: #3b5998;
}

.styles_facebook__3VE1d svg path {
  fill: #3b5998;
}

.styles_facebook__3VE1d:not(:disabled):hover {
  background: rgba(59, 89, 152, 0.2);
}

.styles_facebook__3VE1d:not(:disabled):focus {
  background: rgba(49, 80, 138, 0.1);
}

.styles_facebook__3VE1d:not(:disabled):active,
.styles_facebook__3VE1d:not(:disabled):focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #d9e1ec;
}

.styles_facebook__3VE1d:disabled > * {
  opacity: 0.5;
  text-decoration: line-through;
}

.styles_twitter__jcki9 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 8px;
  background: #e5f5fd;
  color: #00aced;
}

.styles_twitter__jcki9 svg {
  fill: #00aced;
}

.styles_twitter__jcki9:not(:disabled):hover {
  background: #cceefb;
}

.styles_twitter__jcki9:not(:disabled):focus {
  background: #e5f5fd;
}

.styles_twitter__jcki9:disabled > * {
  opacity: 0.5;
  text-decoration: line-through;
}

.styles_timeTravelLink__ssD91 {
  flex-shrink: 0;
}

.styles_viewAllProductsButton__N678v {
  flex-grow: 1;
}

.styles_button__SZoBD {
  position: fixed;
  bottom: 26px;
  right: 110px;
  cursor: pointer;
}

@media (max-width: 759px) {
  .styles_button__SZoBD {
    right: 20px;
  }
}

.styles_pill__4Cvlk {
  border: 1px solid #d9e1ec;
  border-radius: calc(5 * 4px);
  display: inline-block;
  align-self: flex-start;
  flex-shrink: 0;
  white-space: nowrap;
}

.styles_pill__4Cvlk .styles_subnavLinkText__PLoj9 {
  color: #4b587c;
}

@media (min-width: 1100px) {
  .styles_pill__4Cvlk {
    border-radius: calc(3 * 4px);
  }
}

.styles_pill__4Cvlk.styles_blue__4T90J {
  background: #eef2ff;
  border-color: transparent;
}

.styles_pill__4Cvlk.styles_blue__4T90J svg path {
  fill: #4b587c;
}

.styles_pill__4Cvlk.styles_red__J2QPF .styles_p__vdcCP {
  color: #7f1d1d;
}

.styles_pill__4Cvlk.styles_red__J2QPF svg path {
  fill: #4b587c;
}

.styles_pill__4Cvlk.styles_white__DSEIH {
  background: 0 0;
  border-color: #d9e1ec;
}

.styles_pill__4Cvlk.styles_white__DSEIH svg path {
  fill: #4b587c;
}

.styles_pill__4Cvlk.styles_black__70Zmm {
  border-color: #000;
  background: #000;
}

.styles_pill__4Cvlk.styles_black__70Zmm svg path {
  fill: #fff;
}

.styles_pill__4Cvlk.styles_black__70Zmm span {
  color: #fff;
}

.styles_topTopics__3h2r4 {
  white-space: nowrap;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.styles_topTopics__3h2r4::-webkit-scrollbar {
  display: none;
}

@media (min-width: 760px) {
  .styles_subHeader__LmaZ1 {
    padding: 12px 0;
  }
}

@media (min-width: 1100px) {
  .styles_subHeader__LmaZ1 {
    border-bottom: 1px solid rgba(33, 41, 63, 0.1);
  }
  .styles_feeds__eeAft {
    border-right: 2px solid #d9e1ec;
  }
}

.styles_pill__eE1iw {
  border-radius: calc(10 * 4px);
}

.styles_pill__eE1iw span {
  font-size: 14px;
  padding: 4px;
}

.styles_image__UvdQT {
  width: 100%;
  min-width: 320px;
}

.styles_cta__HXZkL {
  cursor: pointer;
}

.styles_container__0sZXQ {
  position: relative;
  height: inherit;
  background-color: #272727;
  border-radius: 4px;
}

.styles_icon__10p3X {
  background: 0 0;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ffffff;
  display: none;
  z-index: 1;
}

.styles_container__0sZXQ:hover .styles_icon__10p3X,
.styles_icon__10p3X svg {
  display: block;
}

.styles_icon__10p3X:hover {
  opacity: 0.8;
}

.not-found {
  color: rgba(255, 255, 255, 0.4);
  font-size: 34px;
  text-align: center;
  align-items: center;
}

.filter-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.combo-box {
  padding: 5px;
  width: 150px;
  outline: none;
}

input {
  background-color: #f5f5f7;
}

.you-might-like-apps-container {
  background-color: none;
  border-left: 1px solid rgb(188, 185, 185);
  padding-left: 1rem;
  margin-bottom: 10vh;
  margin-left: 5vh;
}

.appOfTheDay-container {
  /* background-color: grey; */
  padding: 2rem;
}
