.loader {
    width: 100px;
    height: 100px;
    display: block;
    margin: 15px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    box-sizing: border-box;
    animation: rotation_19 1s linear infinite;
  }
  
  .loader::after,
  .loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    background-color: #FFF;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
  }
  
  .loader::before {
    top: auto;
    bottom: 0;
    background-color: #FF3D00;
    animation-delay: 0.5s;
  }
  
  @keyframes rotation_19 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes scale50 {
    0%, 100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  } 