
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-up-i5B {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.sign-up-i5B .auto-group-yw4r-Qyb {
  box-sizing: border-box;
  padding: 1.7rem 0rem 9.2rem 0.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-yw4r-Qyb .auto-group-gvnh-HXb {
  margin: 0rem 10rem 1.6rem 9.7rem;
  width: calc(100% - 19.7rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-yw4r-Qyb .auto-group-gvnh-HXb .tech-bible-logo-YyK {
  margin-right: 84.65rem;
  box-sizing: border-box;
  padding: 3rem 0.4rem 0.3rem 0.4rem;
  width: 5.1rem;
  height: 100%;
  border: solid 0.2rem #ffffff;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-yw4r-Qyb .auto-group-gvnh-HXb .tech-bible-logo-YyK .tech-bible-pvq {
  max-width: 2.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.0402272542;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.sign-up-i5B .auto-group-yw4r-Qyb .auto-group-gvnh-HXb .you-already-have-an-account--tA1 {
  margin: 0.2rem 2.45rem 0rem 0rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-yw4r-Qyb .auto-group-gvnh-HXb .auto-group-bmrx-LXo {
  margin: 0.9rem 0rem 0.7rem 0rem;
  width: 8.6rem;
  height: calc(100% - 1.6rem);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7869e6;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-yw4r-Qyb .vector-69-LgD {
  width: 143.7rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-kmcz-SjF {
  width: 100%;
  height: 113.6rem;
  position: relative;
  flex-shrink: 0;
}
.sign-up-i5B .auto-group-kmcz-SjF .rectangle-99-SMs {
  width: 50.5rem;
  height: 51.5rem;
  position: absolute;
  left: 47.05rem;
  top: 0;
  box-shadow: 0 0.4rem 3rem #1f1e1e;
  background-color: rgba(35, 38, 40, 0.5899999738);
  border-radius: 1.5rem;
}
.sign-up-i5B .auto-group-kmcz-SjF .by-clicking-on-sign-up-you-agree-to-our-conditions-of-use-and-our-privacy-settings-HdP {
  width: 44.1rem;
  height: 1.7rem;
  position: absolute;
  left: 50.25rem;
  top: 48.5rem;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .new-account-76d {
  width: 16rem;
  height: 2.4rem;
  position: absolute;
  left: 64.2rem;
  top: 4.3rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .vector-68-ZjK {
  width: 50.6rem;
  height: 0;
  position: absolute;
  left: 46.8rem;
  top: 47.55rem;
  object-fit: contain;
  vertical-align: top;
}
.sign-up-i5B .auto-group-kmcz-SjF .or-sign-up-with-google-Gdj {
  width: 16.8rem;
  height: 2.3rem;
  position: absolute;
  left: 63.45rem;
  top: 43.4rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .full-name-M9P {
  width: 7.3rem;
  height: 2.3rem;
  position: absolute;
  left: 52.95rem;
  top: 9.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .email-Eiy {
  width: 4rem;
  height: 2.3rem;
  position: absolute;
  left: 52.95rem;
  top: 17.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .password-uq7 {
  width: 7.2rem;
  height: 2.3rem;
  position: absolute;
  left: 52.95rem;
  top: 26.4rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .rectangle-102-PVP {
  width: 37.8rem;
  height: 5rem;
  position: absolute;
  left: 52.95rem;
  top: 36.6rem;
  background-color: #7869e6;
  border-radius: 0.6rem;
}
.sign-up-i5B .auto-group-kmcz-SjF .sign-up-5ND {
  width: 5.8rem;
  height: 2.4rem;
  position: absolute;
  left: 68.95rem;
  top: 37.9rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .rectangle-100-xB7 {
  width: 37.8rem;
  height: 3.6rem;
  position: absolute;
  left: 52.95rem;
  top: 21rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.sign-up-i5B .auto-group-kmcz-SjF .rectangle-101-4E9 {
  width: 37.8rem;
  height: 3.6rem;
  position: absolute;
  left: 52.95rem;
  top: 29.6rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.sign-up-i5B .auto-group-kmcz-SjF .rectangle-66-kcm {
  width: 37.8rem;
  height: 3.6rem;
  position: absolute;
  left: 52.95rem;
  top: 12.4rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.sign-up-i5B .auto-group-kmcz-SjF .full-name-rA1 {
  width: 7.6rem;
  height: 2.4rem;
  position: absolute;
  left: 57.35rem;
  top: 12.9rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0.07rem;
  font-style: italic;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .characters-minimum-v9s {
  width: 17.5rem;
  height: 2.4rem;
  position: absolute;
  left: 57.35rem;
  top: 30.2rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0.07rem;
  font-style: italic;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .examplesitecom-Bbb {
  width: 14.5rem;
  height: 2.4rem;
  position: absolute;
  left: 57.35rem;
  top: 21.5rem;
  display: flex;
  font-size: 1.4rem;
  line-height: 1.7142857143;
  letter-spacing: 0.07rem;
  font-style: italic;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.sign-up-i5B .auto-group-kmcz-SjF .item-1-04-512-1-pPf {
  width: 3.3rem;
  height: 3.3rem;
  position: absolute;
  left: 53.15rem;
  top: 12.5rem;
  object-fit: cover;
  vertical-align: top;
}
.sign-up-i5B .auto-group-kmcz-SjF .item-561127-1-hiM {
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  left: 53.85rem;
  top: 21.9rem;
  object-fit: cover;
  vertical-align: top;
}
.sign-up-i5B .auto-group-kmcz-SjF .iconspassword-512-1-Pr5 {
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  left: 53.75rem;
  top: 30.1rem;
  object-fit: cover;
  vertical-align: top;
}
