.profile-info-buttons button, .edit-profile-btn{
    color: white;
    border: 1px solid white;
    padding: 2px 0px;
    width: 4rem;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 1%;

    transition: .25s;
}

.profile-info-buttons{
    margin-top: 4%;
}


.bio-interests-texts{
    font-size: 14px;
    color: rgb(177, 177, 177);
}

.edit-add-btn{
    color: white;
    background-color: #7869E6;
    padding: 2px 0px;
    width: 4rem;
    border-radius: 6px;
    font-size: 12px;
    margin-top: 1%;
    transition: .25s;
}

.edit-add-btn:hover{
    background-color: #6756ea;
    letter-spacing: .6px;
}
.edit-add-btn:active{
    background-color: #5b46ff;
}