
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.community-tey {
  box-sizing: border-box;
  padding: 1.4rem 0rem 9.95rem 0.1rem;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-msem-wt9 {
    margin: 0rem 10rem 1.8rem 10.2rem;
    width: calc(100% - 20.2rem);
    height: 5.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .tech-bible-logo-1d7 {
      padding: 3rem 0.4rem 0.3rem 0.4rem;
      width: 5.1rem;
      border: solid 0.2rem #ffffff;
      flex-shrink: 0;
      margin: 0rem 8.4rem 0.1rem 0rem;
      box-sizing: border-box;

      .tech-bible-gz9 {
        max-width: 2.2rem;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1.0402272542;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-bcq3-kUD {
      flex-direction: column;
      flex-shrink: 0;
      margin: 1.7rem 9.8rem 1.2rem 0rem;
      width: 5.8rem;
      height: calc(100% - 2.9rem);
      align-items: flex-end;
      display: flex;

      .all-tools-pys {
        width: 100%;
        text-align: center;
        line-height: 1.6;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 300;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .vector-3-j5F {
        vertical-align: top;
        border-radius: 25rem;
        flex-shrink: 0;
        width: 5.8rem;
        height: 0;
        object-fit: contain;
      }
    }
    .submit-your-tool-EXo {
      margin: 0.5rem 8.9rem 0rem 0rem;
      text-align: center;
      line-height: 1.6;
      flex-shrink: 0;
      font-size: 1.5rem;
      font-weight: 300;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .resources-7Lh {
      font-size: 1.5rem;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0.5rem 10.55rem 0rem 0rem;
      text-align: center;
      color: #ffffff;
      white-space: nowrap;
      font-weight: 300;
      line-height: 1.6;
    }
    .community-CN9 {
      margin: 0.5rem 8.15rem 0rem 0rem;
      font-size: 1.5rem;
      color: #ffffff;
      flex-shrink: 0;
      text-align: center;
      font-weight: 300;
      line-height: 1.6;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tiktok-logo-tEy {
      position: relative;
      flex-shrink: 0;
      margin: 0.3rem 13.1rem 0rem 0rem;
      width: 5rem;
      height: 5rem;

      .rectangle-81-Nvq {
        position: absolute;
        left: 0.9rem;
        top: 0.9rem;
        background-color: #ffffff;
        width: 3.2rem;
        height: 3.2rem;
      }
      .tiktok-1-5qF {
        vertical-align: top;
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
    .sign-in-button-Pqw {
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      height: calc(100% - 1.7rem);
      text-align: center;
      font-size: 1.5rem;
      margin: 1.1rem 3rem 0.6rem 0rem;
      font-weight: 300;
      align-items: center;
      border: solid 0.1rem #ffffff;
      flex-shrink: 0;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 0.6rem;
      width: 8.6rem;
      line-height: 1.6;
      white-space: nowrap;
    }
    .sign-up-button-PjT {
      line-height: 1.6;
      color: #ffffff;
      flex-shrink: 0;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      background-color: #7869e6;
      border-radius: 0.6rem;
      margin: 1.2rem 0rem 0.5rem 0rem;
      width: 8.6rem;
      font-size: 1.5rem;
      height: calc(100% - 1.7rem);
      font-weight: 300;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  .vector-69-p45 {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin-bottom: 6rem;
    width: 143.9rem;
    height: 0;
  }
  .auto-group-cydx-8Kf {
    margin: 0rem 39.374rem 6rem 39.1rem;
    width: calc(100% - 78.4737rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .title-RJm {
      line-height: 1.2;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 40rem;
      font-size: 3rem;
      font-weight: 500;
    }
    .sort-by-iYm {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.6;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 0.7741rem;
    }
    .vector-57-qNV {
      margin-top: 0.151rem;
      width: 0.7521rem;
      height: 0.3033rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-1rwx-jTs {
    margin: 0rem 5.3rem 0rem 10.148rem;
    width: calc(100% - 15.448rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-n43w-RrV {
      flex-shrink: 0;
      margin: 0rem 8.59rem 0rem 0rem;
      width: 12.152rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .auto-group-xjnm-XuX {
        padding: 0rem 0rem 14.81rem 0.052rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .topics-dSm {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 3rem;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.6;
          color: #ffffff;
        }
        .auto-group-g2op-k1b {
          margin-bottom: 3.3rem;
          width: 100%;
          height: 2.8rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-109-4ny {
            margin-right: 2.2rem;
            width: 2.8rem;
            height: 2.8rem;
            background-color: #d9d9d9;
            border-radius: 0.6rem;
            flex-shrink: 0;
          }
          .auto-group-2jc1-kvh {
            font-weight: 300;
            height: calc(100% - 0.7rem);
            font-size: 1.2rem;
            align-items: center;
            background-color: #232628;
            border-radius: 0.6rem;
            width: 7.1rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            box-sizing: border-box;
            flex-shrink: 0;
            margin: 0.3rem 0rem 0.4rem 0rem;
            color: #ffffff;
            display: flex;
            border: solid 0.1rem #ffffff;
          }
        }
        .auto-group-vepf-xWy {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.6rem 3rem 0rem;
          width: calc(100% - 0.6rem);

          .rectangle-110-GGm {
            width: 2.8rem;
            height: 2.8rem;
            background-color: #d9d9d9;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 2.2rem;
          }
          .no-code-ygy {
            margin-top: 0.1rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-1jrd-grH {
          width: calc(100% - 2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2rem 3.3rem 0rem;

          .rectangle-111-Q1b {
            margin-right: 2.2rem;
            width: 2.8rem;
            height: 2.8rem;
            background-color: #d9d9d9;
            border-radius: 0.6rem;
            flex-shrink: 0;
          }
          .project-hFb {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
          }
        }
        .auto-group-seih-CTF {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2rem 3.3rem 0rem;
          width: calc(100% - 2rem);
          display: flex;

          .rectangle-112-huo {
            background-color: #d9d9d9;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 2.2rem;
            width: 2.8rem;
            height: 2.8rem;
          }
          .design-Rau {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-hxiy-wJM {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0.6rem 3rem 0rem;
          width: calc(100% - 0.6rem);

          .rectangle-113-rRK {
            height: 2.8rem;
            background-color: #d9d9d9;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 2.2rem;
            width: 2.8rem;
          }
          .no-code-mHP {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-ouhk-5os {
          margin-right: 2rem;
          width: calc(100% - 2rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-114-ozm {
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 2.2rem;
            width: 2.8rem;
            height: 2.8rem;
            background-color: #d9d9d9;
          }
          .project-WuB {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .tech-bible-logo-cxD {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 7.148rem 0.953rem 1.042rem 0.953rem;
        width: 100%;
        border: solid 0.2rem #ffffff;

        .tech-bible-8ff {
          font-weight: 700;
          line-height: 1.0402273178;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          max-width: 4.9rem;
          font-size: 2rem;
        }
      }
    }
    .vector-71-2FF {
      margin-right: 8.1487rem;
      width: 0.0609rem;
      height: 68.35rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-fep5-KEM {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 7.92rem 0rem 0rem;

      .auto-group-1fmo-2Pf {
        box-sizing: border-box;
        padding: 3.4rem 5rem 3rem 4.2rem;
        align-items: flex-end;
        box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
        border-radius: 2.1rem;
        margin: 0rem 0.2rem 4.4rem 0rem;
        display: flex;
        background-color: rgba(35, 38, 40, 0.5899999738);
        flex-shrink: 0;

        .auto-group-j493-hVo {
          flex-shrink: 0;
          margin: 0rem 3.5rem 4.8rem 0rem;
          width: 39.5rem;

          .auto-group-ivh3-cMs {
            margin: 0rem 11.5rem 1.7rem 0rem;
            width: calc(100% - 11.5rem);
            display: flex;
            align-items: flex-start;

            .screen-shot-2023-03-14-at-2022-1-iQu {
              margin-right: 3.3rem;
              width: 5rem;
              height: 5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 9rem;
              flex-shrink: 0;
            }
            .auto-group-nqp1-bzV {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .rita64-Yuj {
                flex-shrink: 0;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .posted-in-r-design-2-hours-ago-3Lh {
                font-size: 1.2rem;
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';

                .posted-in-r-design-2-hours-ago-3Lh-sub-0 {
                }
                .posted-in-r-design-2-hours-ago-3Lh-sub-1 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                }
                .posted-in-r-design-2-hours-ago-3Lh-sub-2 {
                }
              }
            }
          }
          .new-design-tools-were-introduced--rqs {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1.0909090909;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
          }
          .cheers--9a5 {
            font-weight: 500;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 1.2rem;
          }
        }
        .layer1-4ww {
          margin-right: 1.3rem;
          width: 1.9rem;
          height: 1.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-120-m5f {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          margin: 0rem 4.7rem 0.3rem 0rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .layer1-e9T {
          margin: 0rem 1.3rem 0rem 0rem;
          width: 2rem;
          height: 1.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-5-L2H {
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-rw2y-aSR {
        box-sizing: border-box;
        display: flex;
        border-radius: 2.1rem;
        background-color: rgba(35, 38, 40, 0.5899999738);
        flex-shrink: 0;
        margin-left: 0.2rem;
        padding: 3.4rem 5rem 3rem 4.2rem;
        align-items: flex-end;
        box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);

        .auto-group-fx9s-FoT {
          margin: 0rem 13.9rem 3rem 0rem;
          width: 29.1rem;
          flex-shrink: 0;

          .auto-group-p3x1-Z3T {
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;
            margin: 0rem 0rem 1.4rem 0.1rem;

            .screen-shot-2023-03-14-at-2022-3-s49 {
              margin: 0.3rem 3.3rem 0rem 0rem;
              width: 4.9rem;
              height: 5rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 9rem;
              flex-shrink: 0;
            }
            .auto-group-lamj-YAH {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .miro99-gXP {
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .posted-in-r-no-code-11-hours-ago-oc1 {
                display: flex;
                flex-shrink: 0;
                line-height: 1.5;
                color: #ffffff;
                white-space: nowrap;
                align-items: baseline;
                font-size: 1.2rem;
                font-weight: 300;
                font-family: Poppins, 'Source Sans Pro';

                .posted-in-r-no-code-11-hours-ago-oc1-sub-0 {
                }
                .posted-in-r-no-code-11-hours-ago-oc1-sub-1 {
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .posted-in-r-no-code-11-hours-ago-oc1-sub-2 {
                }
              }
            }
          }
          .i-need-help-with-coding--Hfb {
            line-height: 1.0909090909;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.5rem;
            font-size: 2.2rem;
            font-weight: 500;
          }
          .hello-guys-so-im-working-on-this-website-but--za1 {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 22rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
        }
        .layer1-55f {
          margin-right: 1.3rem;
          width: 1.9rem;
          height: 1.7rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-120-b41 {
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 4.7rem 0.3rem 0rem;
          text-align: center;
          font-size: 1rem;
          flex-shrink: 0;
        }
        .layer1-5Uy {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0rem 0rem;
          width: 2rem;
          height: 1.7rem;
        }
        .item-5-PEm {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
        }
      }
    }
    .vector-72-2Yd {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 4.72rem 0rem 0rem;
      width: 0.0609rem;
      height: 68.35rem;
      object-fit: contain;
    }
    .auto-group-h5jm-85s {
      border-radius: 2.1rem;
      margin-top: 0rem;
      box-sizing: border-box;
      width: 21rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 2.5rem 0.9rem 1.6rem 0.9rem;
      box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
      background-color: rgba(35, 38, 40, 0.5899999738);
      flex-shrink: 0;

      .welcome-to-the-community-nw7 {
        margin-bottom: 1.1rem;
        font-size: 1.5rem;
        flex-shrink: 0;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        max-width: 12rem;
        text-align: center;
        font-weight: 500;
      }
      .connect-share-and-engage-with-community-and-build-relationships-sSm {
        color: #ffffff;
        margin-bottom: 2.3rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
        max-width: 17rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .this-is-an-invitation-only-community-8tV {
        font-size: 1rem;
        line-height: 1.5;
        color: #ffffff;
        margin: 0rem 1.1rem 2.1rem 0rem;
        text-align: center;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
      }
      .sign-up-button-nTF {
        font-weight: 300;
        margin: 0rem 3.3rem 0rem 3.1rem;
        box-sizing: border-box;
        font-size: 1.1rem;
        background-color: #eb6a6a;
        flex-shrink: 0;
        border-radius: 0.6rem;
        width: calc(100% - 6.4rem);
        height: 2.6rem;
        line-height: 2.1818181818;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        padding: 0rem 1.4rem 0rem 1.7rem;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
