
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.community-uEd {
  box-sizing: border-box;
  padding-top: 0.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #000000;

  .rectangle-103-bdF {
    height: 102.4rem;
    background-color: #000000;
    flex-shrink: 0;
    margin: 3.1rem 2.5rem 0rem 0rem;
    width: 50.2rem;
  }
  .auto-group-bajw-g8u {
    width: 150.45rem;
    flex-shrink: 0;

    .auto-group-9y73-nxd {
      width: calc(100% - 27.55rem);
      height: 8.4rem;
      display: flex;
      align-items: center;
      margin: 0rem 17.65rem 0rem 9.9rem;

      .eba91235a2dc1787ad14305033cb2e0ec5720x720-1-GN1 {
        margin-right: 5.8rem;
        width: 8.1rem;
        height: 8.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .all-tools-Lcm {
        text-align: center;
        line-height: 1.6;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 9.8rem;
        font-size: 1.5rem;
        font-weight: 300;
        white-space: nowrap;
      }
      .submit-your-tool-pXw {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        margin-right: 8.9rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6;
        font-weight: 300;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .resources-71F {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.6;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .auto-group-exph-BWu {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1rem 0rem 1rem 10.55rem;

        .auto-group-qucd-5cH {
          margin: 2rem 8.15rem 1.7rem 0rem;
          height: calc(100% - 3.7rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .community-a3F {
            margin-bottom: 0.3rem;
            text-align: center;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.6;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .vector-3-4j7 {
            flex-shrink: 0;
            margin-left: 0.05rem;
            width: 8.35rem;
            height: 0;
            object-fit: contain;
            vertical-align: top;
            border-radius: 25rem;
          }
        }
        .auto-group-5y8y-ZA5 {
          width: 5rem;
          height: calc(100% - 1.4rem);
          position: relative;
          flex-shrink: 0;
          margin: 0.6rem 15.1rem 0.8rem 0rem;

          .rectangle-81-Sjf {
            position: absolute;
            left: 0.9rem;
            top: 0.9rem;
            background-color: #ffffff;
            width: 3.2rem;
            height: 3.2rem;
          }
          .tiktok-1-Lq3 {
            width: 5rem;
            height: 5rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .layer1-f6d {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 3rem 0rem 0rem;
          width: 2.3rem;
          height: 2.6rem;
          object-fit: contain;
        }
        .layer1-MEM {
          width: 2.4rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 3rem 0rem 0rem;
        }
        .auto-group-ihqz-3ss {
          width: 6.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .ellipse-2-NfF {
            width: 5.2rem;
            height: 5.2rem;
            position: absolute;
            left: 0.6rem;
            top: 0.6rem;
            background-color: #d9d9d9;
            border-radius: 2.6rem;
          }
          .ellipse-3-feM {
            top: 0.7rem;
            background-color: #ffffff;
            border-radius: 2.5rem;
            width: 5rem;
            height: 5rem;
            position: absolute;
            left: 0.7rem;
          }
          .item-6522516-1-yf3 {
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 6.4rem;
            height: 6.4rem;
            position: absolute;
          }
        }
      }
    }
    .vector-69-3uo {
      width: 150.45rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      margin-bottom: 5rem;
    }
    .discussions-mau {
      font-weight: 500;
      line-height: 1.3333333333;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 1rem 10.1rem;
      font-size: 1.8rem;
    }
    .ask-questions-find-support-and-connect-with-community-eub {
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 5.6rem 10.1rem;
    }
    .auto-group-ny4r-vMK {
      width: 12.9rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      margin: 0rem 0rem 6.7rem 10.1rem;
      text-align: center;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eb6a6a;
      line-height: 1.7142857143;
      color: #ffffff;
      height: 3.6rem;
      white-space: nowrap;
      border-radius: 0.6rem;
    }
    .auto-group-bsp1-wnD {
      margin-left: 9.9rem;
      height: 47.1rem;
      display: flex;
      align-items: flex-start;

      .auto-group-nnrk-FH7 {
        margin-right: 6.6792rem;
        box-sizing: border-box;
        box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
        background-color: #232628;
        border-radius: 2.1rem;
        flex-shrink: 0;
        padding: 1.1rem 1.6rem 6.1rem 1.6rem;
        width: 81.6rem;
        height: 100%;

        .auto-group-ahq7-igV {
          margin-bottom: 3.5rem;
          display: flex;
          align-items: flex-start;

          .auto-group-7hdw-2x5 {
            white-space: nowrap;
            border-radius: 0.6rem;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            display: flex;
            align-items: center;
            height: 2.1rem;
            font-family: Poppins, 'Source Sans Pro';
            margin-right: 5.5rem;
            width: 7.1rem;
            justify-content: center;
            background-color: #232628;
          }
          .auto-group-a2w7-Up5 {
            flex-shrink: 0;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            align-items: center;
            justify-content: center;
            height: 2.1rem;
            font-size: 1rem;
            white-space: nowrap;
            margin-right: 1.3rem;
            display: flex;
            border-radius: 0.6rem;
            width: 7.1rem;
            font-weight: 300;
            color: #ffffff;
            background-color: #232628;
          }
          .rectangle-84-jED {
            width: 7.1rem;
            height: 2.1rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin-right: 26.5rem;
          }
          .auto-group-ty5f-d4h {
            margin-top: 0.3rem;
            width: 17.5rem;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-66-jdX {
              top: 0;
              background-color: #ffffff;
              border-radius: 0.6rem;
              width: 17.5rem;
              height: 2.3rem;
              position: absolute;
              left: 0;
            }
            .item-3031293-1-pQ5 {
              top: 0.5rem;
              object-fit: cover;
              vertical-align: top;
              width: 1.4rem;
              height: 1.4rem;
              position: absolute;
              left: 0.6rem;
            }
            .search-iVT {
              color: #000000;
              position: absolute;
              left: 3.2rem;
              top: 0;
              display: flex;
              line-height: 2;
              letter-spacing: 0.06rem;
              width: 4.6rem;
              height: 2.4rem;
              font-size: 1.2rem;
              font-style: italic;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-qpv5-anZ {
          margin: 0rem 0rem 3rem 0.6rem;
          height: 6rem;
          display: flex;
          align-items: flex-end;

          .screen-shot-2023-03-14-at-2022-1-gah {
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 9rem;
            flex-shrink: 0;
            margin: 0rem 2.8rem 0.5rem 0rem;
            width: 5rem;
          }
          .auto-group-ucxw-9z5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 1.4rem;
            width: 4.9rem;
            height: 100%;
            row-gap: 0.2rem;

            .rita64-Tjs {
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
            }
            .cheers--xgd {
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 300;
            }
            .auto-group-gksm-5mF {
              align-items: center;
              flex-shrink: 0;
              margin-right: 1.6rem;
              width: calc(100% - 1.6rem);
              display: flex;

              .layer1-197 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.3rem;
                height: 1.1rem;
              }
              .item-120-uVP {
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
              }
            }
          }
          .layer1-p6Z {
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-5-VyP {
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-guyt-pVs {
          align-items: center;
          margin: 0rem 34.7rem 3rem 0.7rem;
          width: calc(100% - 35.4rem);
          height: 6rem;
          display: flex;

          .screen-shot-2023-03-14-at-2021-1-hpZ {
            flex-shrink: 0;
            margin: 0.2rem 2.8rem 0rem 0rem;
            width: 4.9rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 9rem;
          }
          .auto-group-k7fj-yn5 {
            height: 100%;
            row-gap: 0.2rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .imane31-VkR {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-DRX {
              font-weight: 300;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
            }
            .auto-group-uqeq-JSy {
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .layer1-qSu {
                height: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.3rem;
              }
              .item-120-vUM {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3rem;
              }
              .layer1-DyF {
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.3rem;
                height: 1.1rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item-5-7Yq {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
          }
        }
        .auto-group-jhxq-2Qu {
          height: 6.2rem;
          display: flex;
          align-items: center;
          margin: 0rem 34.7rem 2.8rem 0.8rem;
          width: calc(100% - 35.5rem);

          .screen-shot-2023-03-14-at-2022-2-X6m {
            object-fit: cover;
            vertical-align: top;
            border-radius: 9rem;
            flex-shrink: 0;
            margin: 0rem 2.7rem 0.2rem 0rem;
            width: 4.9rem;
            height: 5rem;
          }
          .auto-group-vjpq-Puf {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .miro99-wAV {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-qmf {
              font-weight: 300;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.4rem;
              font-size: 1.2rem;
            }
            .auto-group-t2z3-8Ey {
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .layer1-To3 {
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.3rem;
                height: 1.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-120-xUu {
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 3rem;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
              }
              .layer1-GkV {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.3rem;
                height: 1.1rem;
                object-fit: contain;
              }
              .item-5-Zjb {
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-eaym-g3X {
          width: calc(100% - 35.6rem);
          display: flex;
          align-items: flex-start;
          margin: 0rem 34.7rem 0.1rem 0.9rem;

          .screen-shot-2023-03-14-at-2051-1-BFB {
            height: 4.7rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 9rem;
            flex-shrink: 0;
            margin: 0.4rem 2.7rem 0rem 0rem;
            width: 4.8rem;
          }
          .auto-group-9g61-Sgu {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .fz20-BuP {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.2rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
            }
            .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-iPX {
              font-size: 1.2rem;
              font-weight: 300;
              line-height: 1.5;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-twc9-D5P {
          margin-left: 8.4rem;
          display: flex;
          align-items: center;

          .layer1-Ku7 {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.2rem 0.5rem 0rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
          }
          .item-120-RSM {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
          }
          .layer1-YWy {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.2rem 0.5rem 0rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
          }
          .item-5-eK7 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .vector-70-ukq {
        width: 0.0416rem;
        height: 46.75rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-2mem-EYD {
        box-sizing: border-box;
        padding-left: 6.4792rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .auto-group-q9jt-ARs {
          width: 5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .topics-hAu {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.6;
            color: #ffffff;
          }
          .auto-group-gded-cof {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-top: 3rem;
            width: 100%;

            .rectangle-78-k9B {
              margin-bottom: 3.3rem;
              width: 2.8rem;
              height: 2.8rem;
              background-color: #d9d9d9;
              border-radius: 0.6rem;
              flex-shrink: 0;
            }
            .rectangle-105-49s {
              margin-bottom: 3rem;
              width: 2.8rem;
              height: 2.8rem;
              background-color: #d9d9d9;
              border-radius: 0.6rem;
              flex-shrink: 0;
            }
            .rectangle-104-Muf {
              width: 2.8rem;
              height: 2.8rem;
              background-color: #d9d9d9;
              border-radius: 0.6rem;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-bhjb-sND {
          margin-top: 5.7rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .design-bZ7 {
            flex-shrink: 0;
            margin-bottom: 3.8rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .no-code-Wg5 {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.5rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
          }
          .project-Ery {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
    }
  }
}
