
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}
.design-tools-page--573 {
  height: 189.5rem;
  position: relative;
  overflow: hidden;
  background-color: #0d0c12;
  width: 100%;
  margin-top : 0px !important;

  .auto-group-m6gm-ViV {
    align-items: center;
    width: 124rem;
    height: 5.2rem;
    position: absolute;
    left: 9.9rem;
    top: 1.7rem;
    display: flex;

    .tech-bible-logo-h3s {
      height: 100%;
      border: solid 0.2rem #F5F5F7;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3rem 0.4rem 0.3rem 0.4rem;
      width: 5.1rem;

      .tech-bible-VEd {
        font-weight: 700;
        line-height: 1.0402272542;
        color: #F5F5F7;
        font-family: Inter, 'Source Sans Pro';
        max-width: 2.2rem;
        font-size: 0.9rem;
      }
    }
    .auto-group-ra8u-emj {
      box-sizing: border-box;
      padding: 0.8rem 0rem 0.7rem 8.7rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-cnqk-SSh {
        flex-shrink: 0;
        margin: 0.6rem 9.8rem 0.7rem 0rem;
        width: 5.8rem;
        height: calc(100% - 1.3rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .all-tools-RpR {
          color: #F5F5F7;
          width: 100%;
          text-align: center;
          font-weight: 300;
          line-height: 1.6;
          font-size: 1.5rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .vector-3-r93 {
          border-radius: 25rem;
          flex-shrink: 0;
          width: 5.8rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .submit-your-tool-spq {
        font-size: 1.5rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        color: #F5F5F7;
        margin: 0rem 8.9rem 0.1rem 0rem;
        text-align: center;
        font-weight: 300;
        line-height: 1.6;
      }
      .resources-pNh {
        font-weight: 300;
        line-height: 1.6;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 10.55rem 0.1rem 0rem;
        text-align: center;
        font-size: 1.5rem;
        color: #F5F5F7;
        flex-shrink: 0;
      }
      .community-zwP {
        margin: 0rem 4.35rem 0.1rem 0rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6;
        color: #F5F5F7;
        white-space: nowrap;
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .layer1-nMT {
        margin-right: 2.3rem;
        width: 2.4rem;
        height: 2.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .white-youtube-icon-png-28-1-Qtd {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.9rem;
        flex-shrink: 0;
        margin-right: 2.3rem;
        width: 3.7rem;
        height: 3.7rem;
      }
      .pngfind-1-D7K {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 9.1rem;
        width: 2.1rem;
        height: 2.1rem;
      }
      .sign-in-button-quP {
        height: 3.6rem;
        border: solid 0.1rem #F5F5F7;
        box-sizing: border-box;
        font-size: 1.5rem;
        white-space: nowrap;
        font-weight: 300;
        display: flex;
        border-radius: 0.6rem;
        margin: 0rem 3rem 0.1rem 0rem;
        width: 8.6rem;
        color: #F5F5F7;
        font-family: Poppins, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.6;
      }
      .sign-up-button-f1F {
        height: 3.6rem;
        font-size: 1.5rem;
        line-height: 1.6;
        color: #F5F5F7;
        border-radius: 0.6rem;
        width: 8.6rem;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 300;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-top: 0.1rem;
        background-color: #7869e6;
        text-align: center;
      }
    }
  }
  .auto-group-wzxd-h6M {
    width: 117.15rem;
    height: 186.7973rem;
    position: absolute;
    left: 18.1rem;
    top: 8.6rem;
    display: flex;
    align-items: flex-start;

    .auto-group-uwdt-UmK {
      margin: 7.3rem 12.73rem 17.997rem 0rem;
      width: 64.74rem;
      height: calc(100% - 25.2973rem);
      flex-shrink: 0;

      .design-tools-FQh {
        color: #F5F5F7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 4.5rem 1.2rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .auto-group-5fs3-3LZ {
        width: calc(100% - 2.34rem);
        display: flex;
        align-items: flex-start;
        margin: 0rem 2.34rem 6.1rem 0rem;

        .adobexdccicon-1-Sdb {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.5rem;
          width: 18.9rem;
          height: 18.4rem;
        }
        .auto-group-qs2z-Fqw {
          width: 41rem;
          flex-shrink: 0;

          .auto-group-iytd-KzD {
            display: flex;
            align-items: center;
            margin: 0rem 26.9rem 1.4rem 0rem;
            width: calc(100% - 26.9rem);

            .adobe-xd-7fB {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 2.6rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
            }
            .layer1-KmF {
              margin-bottom: 0rem;
              width: 1.7rem;
              height: 1.6001rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .adobe-xd-is-an-interface-prototyping-and-design-tool-for-websites-or-mobile-applications-it-is-aimed-at-ux-ui-designers-YA9 {
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 3.1rem;
            max-width: 41rem;
            font-size: 1.7rem;
            font-weight: 300;
          }
          .auto-group-bvds-q2m {
            align-items: center;
            height: 3.1rem;
            display: flex;

            .auto-group-9czh-FsB {
              margin-right: 3.3rem;
              width: 9.8rem;
              color: #F5F5F7;
              border-radius: 0.6rem;
              height: 100%;
              align-items: center;
              border: solid 0.1rem #F5F5F7;
              font-size: 1.5rem;
              white-space: nowrap;
              background-color: #181a1a;
              display: flex;
              justify-content: center;
              box-sizing: border-box;
              flex-shrink: 0;
              font-weight: 300;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
            }
            .design-tool-Vuw {
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 4.1rem;
              font-size: 1.5rem;
            }
            .layer1-LQm {
              flex-shrink: 0;
              margin: 0.5rem 0.8rem 0rem 0rem;
              width: 1.9rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-120-8rR {
              flex-shrink: 0;
              margin: 0.4rem 3.7rem 0rem 0rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .layer1-vnH {
              margin: 0.5rem 0.8rem 0rem 0rem;
              width: 1.8rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .item-20-KZX {
              margin-top: 0.4rem;
              font-size: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .auto-group-swmj-uXj {
        margin: 0rem 0rem 4.3rem 1.2rem;
        height: 3rem;
        display: flex;
        align-items: center;

        .community-thoughts-WXX {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.1rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.5;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
        }
        .ask-a-question-about-this-tool-XBj {
          margin: 0rem 1.1rem 0.1rem 0rem;
          text-align: right;
          line-height: 1.5;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          font-weight: 300;
        }
        .auto-group-o5im-J7w {
          position: relative;
          flex-shrink: 0;
          margin: 0.6rem 0rem 0.6rem 0rem;
          width: 1.84rem;
          height: calc(100% - 1.2rem);

          .layer1-75P {
            width: 1.7998rem;
            height: 1.7rem;
            position: absolute;
            left: 0;
            top: 0.1rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-26-KhF {
            width: 0.84rem;
            height: 0.8167rem;
            position: absolute;
            left: 1rem;
            top: 0;

            .ellipse-4-mZF {
              width: 0.7906rem;
              height: 0.7446rem;
              position: absolute;
              left: 0.0247rem;
              top: 0.024rem;
              object-fit: contain;
              vertical-align: top;
            }
            .item-32360-1-AbP {
              width: 0.84rem;
              height: 0.8167rem;
              position: absolute;
              left: 0;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
          }
        }
      }
      .group-42-Azh {
        box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
        background-color: rgba(35, 38, 40, 0.5899999738);
        margin: 0rem 0rem 2.1rem 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2.1rem;
        box-sizing: border-box;
        padding: 1.7rem 5.1rem 2rem 4rem;
        width: 63.2rem;

        .auto-group-c4e9-v6h {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 6.7rem 0.8rem 0rem;
          width: calc(100% - 6.7rem);
          height: 5.7rem;
          display: flex;

          .screen-shot-2023-03-14-at-2022-5-iYM {
            flex-shrink: 0;
            margin-right: 4rem;
            width: 4.9rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 9rem;
          }
          .auto-group-mnht-iAy {
            width: 38.5rem;
            height: 100%;
            flex-shrink: 0;

            .auto-group-mxmt-zPP {
              margin-bottom: 0.6rem;
              width: 100%;
              display: flex;
              align-items: flex-end;

              .miro99-3sT {
                flex-shrink: 0;
                margin-right: 0.7rem;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .posted-in-r-design-tools-adobe-xd-2-hours-ago-uRo {
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 1.2rem;
                font-weight: 300;

                .posted-in-r-design-tools-adobe-xd-2-hours-ago-uRo-sub-0 {
                  line-height: 1.5;
                  color: #F5F5F7;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-uRo-sub-1 {
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-uRo-sub-2 {
                  color: #F5F5F7;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.5;
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-uRo-sub-3 {
                }
              }
            }
            .what-is-the-use-of-adobe-xd-mXs {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.6;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-4fho-B5o {
          margin-left: 8.9rem;
          width: 45.2rem;
          height: 21.2rem;
          position: relative;
          flex-shrink: 0;

          .item-0-CWh {
            position: absolute;
            left: 44.2rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            width: 1rem;
            height: 2.3rem;
            top: 18.9rem;
            font-size: 1.5rem;
            white-space: nowrap;
          }
          .layer1-AM3 {
            vertical-align: top;
            width: 1.8rem;
            height: 1.6rem;
            position: absolute;
            left: 35.5rem;
            top: 19.3rem;
            object-fit: contain;
          }
          .item-20-YcV {
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            width: 1.8rem;
            position: absolute;
            left: 38.4rem;
            top: 18.9rem;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            height: 2.3rem;
          }
          .it-is-basically-an-ui-ux-designing-application-like-sketch-in-my-opinion-it-has-bunch-of-tools-like-pen-tool-selection-tool-etc-designing-in-xd-is-simple-its-based-on-the-adobe-conventions-if-youre-used-to-work-in-adobe-softwares-like-photoshop-illustrator-you-can-work-with-xd-very-easily-and-efficiently-just-like-in-illustrator-of-sketch-you-can-have-multiple-artboards-v7F {
            left: 0;
            top: 0;
            font-size: 1.5rem;
            font-weight: 300;
            height: 19.2rem;
            position: absolute;
            line-height: 1.825;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            width: 45.1rem;
          }
          .group-41-NG5 {
            width: 1.84rem;
            height: 1.8rem;
            position: absolute;
            left: 41.3rem;
            top: 19.1rem;

            .layer1-BjK {
              position: absolute;
              left: 0rem;
              top: 0.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4999rem;
              height: 1.4rem;
            }
            .group-27-SSH {
              height: 0.8167rem;
              position: absolute;
              left: 1rem;
              top: 0;
              width: 0.84rem;

              .ellipse-4-5k9 {
                position: absolute;
                left: 0.0247rem;
                top: 0.024rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.7906rem;
                height: 0.7446rem;
              }
              .item-32360-1-i2R {
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 0.84rem;
                height: 0.8167rem;
                position: absolute;
              }
            }
          }
        }
      }
      .group-45-Q3f {
        margin: 0rem 0rem 2.4rem 1.2rem;
        box-sizing: border-box;
        padding: 1.9rem 3rem 4.1rem 3rem;
        flex-direction: column;
        background-color: rgba(35, 38, 40, 0.5899999738);
        border-radius: 2.1rem;
        width: 63.2rem;
        align-items: center;
        display: flex;
        box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);

        .auto-group-myxw-99f {
          height: 5.7rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 9.8rem 0.8rem 0rem;
          width: calc(100% - 9.8rem);

          .screen-shot-2023-03-14-at-2022-5-8XP {
            border-radius: 9rem;
            flex-shrink: 0;
            margin-right: 4rem;
            width: 4.9rem;
            height: 5rem;
            object-fit: cover;
            vertical-align: top;
          }
          .auto-group-xgcm-j1P {
            height: 100%;
            flex-shrink: 0;
            width: 38.5rem;

            .auto-group-rfdp-1Do {
              margin-bottom: 0.6rem;
              width: 100%;
              display: flex;
              align-items: flex-end;

              .miro99-UNH {
                flex-shrink: 0;
                margin-right: 0.7rem;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
              .posted-in-r-design-tools-adobe-xd-2-hours-ago-UFo {
                font-family: Poppins, 'Source Sans Pro';
                align-items: baseline;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 1.2rem;
                color: #F5F5F7;
                white-space: nowrap;
                display: flex;
                font-weight: 300;
                line-height: 1.5;

                .posted-in-r-design-tools-adobe-xd-2-hours-ago-UFo-sub-0 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #F5F5F7;
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-UFo-sub-1 {
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-UFo-sub-2 {
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #F5F5F7;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-UFo-sub-3 {
                }
              }
            }
            .what-is-the-use-of-adobe-xd-fYZ {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.6;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .auto-group-aysd-G2Z {
          margin: 0rem 3.1rem 1.5rem 8.9rem;
          width: calc(100% - 12rem);
          height: 21.2rem;
          position: relative;
          flex-shrink: 0;

          .item-0-QHB {
            position: absolute;
            top: 18.9rem;
            font-weight: 300;
            line-height: 1.5;
            width: 1rem;
            height: 2.3rem;
            left: 44.2rem;
            font-size: 1.5rem;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .layer1-xT7 {
            top: 19.3rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8rem;
            height: 1.6rem;
            position: absolute;
            left: 35.5rem;
          }
          .item-20-wpq {
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 1.8rem;
            position: absolute;
            line-height: 1.5;
            font-size: 1.5rem;
            font-weight: 300;
            height: 2.3rem;
            left: 38.4rem;
            top: 18.9rem;
          }
          .it-is-basically-an-ui-ux-designing-application-like-sketch-in-my-opinion-it-has-bunch-of-tools-like-pen-tool-selection-tool-etc-designing-in-xd-is-simple-its-based-on-the-adobe-conventions-if-youre-used-to-work-in-adobe-softwares-like-photoshop-illustrator-you-can-work-with-xd-very-easily-and-efficiently-just-like-in-illustrator-of-sketch-you-can-have-multiple-artboards-sru {
            height: 19.2rem;
            position: absolute;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.825;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            width: 45.1rem;
            left: 0;
            top: 0;
          }
          .group-41-L1j {
            position: absolute;
            left: 41.3rem;
            top: 19.1rem;
            width: 1.84rem;
            height: 1.8rem;

            .layer1-LR3 {
              vertical-align: top;
              width: 1.4999rem;
              height: 1.4rem;
              position: absolute;
              left: 0rem;
              top: 0.4rem;
              object-fit: contain;
            }
            .group-27-Yn1 {
              left: 1rem;
              top: 0;
              width: 0.84rem;
              height: 0.8167rem;
              position: absolute;

              .ellipse-4-ycR {
                position: absolute;
                left: 0.0247rem;
                top: 0.024rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.7906rem;
                height: 0.7446rem;
              }
              .item-32360-1-EKP {
                width: 0.84rem;
                height: 0.8167rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
        }
        .auto-group-7puf-dcR {
          background-color: #F5F5F7;
          margin: 0rem 3.2rem 0rem 8.9rem;
          box-sizing: border-box;
          line-height: 1.8461538462;
          font-family: Poppins, 'Source Sans Pro';
          padding: 0.6rem 3rem;
          width: calc(100% - 12.1rem);
          letter-spacing: 0.065rem;
          flex-shrink: 0;
          font-size: 1.3rem;
          color: #181a1a;
          white-space: nowrap;
          border-radius: 0.6rem;
          display: flex;
          font-style: italic;
        }
      }
      .group-46-XDw {
        box-sizing: border-box;
        padding: 1.9rem 2.8rem 3.8rem 2.8rem;
        align-items: center;
        border-radius: 2.1rem;
        margin-left: 1.2rem;
        width: 63.2rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
        background-color: rgba(35, 38, 40, 0.5899999738);

        .auto-group-muru-6RT {
          margin: 0rem 3.3rem 0.3rem 0rem;
          width: calc(100% - 3.3rem);
          height: 37.7003rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-fldt-tcD {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 3.2rem;
            width: 5.1rem;

            .vector-75-YRs {
              top: 4.8rem;
              object-fit: contain;
              vertical-align: top;
              width: 0.1rem;
              height: 32.9003rem;
              position: absolute;
              left: 2.6rem;
            }
            .screen-shot-2023-03-14-at-2022-5-Mu7 {
              border-radius: 9rem;
              width: 4.9rem;
              height: 5rem;
              position: absolute;
              left: 0.2rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .screen-shot-2023-03-14-at-2022-1-M1w {
              width: 5rem;
              height: 5rem;
              position: absolute;
              left: 0;
              top: 32.7rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 9rem;
            }
          }
          .auto-group-nc4v-KN5 {
            width: 46rem;
            flex-shrink: 0;

            .auto-group-jadj-Nr9 {
              margin: 0rem 6.7rem 0.6rem 0.8rem;
              width: calc(100% - 7.5rem);
              display: flex;
              align-items: flex-end;

              .miro99-Q29 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.7rem;
                font-size: 1.8rem;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
              }
              .posted-in-r-design-tools-adobe-xd-2-hours-ago-EYu {
                font-weight: 300;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                font-size: 1.2rem;
                align-items: baseline;
                color: #F5F5F7;
                display: flex;

                .posted-in-r-design-tools-adobe-xd-2-hours-ago-EYu-sub-0 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #F5F5F7;
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-EYu-sub-1 {
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-EYu-sub-2 {
                  font-size: 1.2rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #F5F5F7;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .posted-in-r-design-tools-adobe-xd-2-hours-ago-EYu-sub-3 {
                }
              }
            }
            .what-is-the-use-of-adobe-xd-neH {
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 1.6;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              margin: 0rem 0rem 0.8rem 0.8rem;
            }
            .auto-group-chn5-APw {
              height: 21.2rem;
              position: relative;
              margin: 0rem 0rem 5rem 0.8rem;
              width: 45.2rem;

              .item-0-MjK {
                width: 1rem;
                position: absolute;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                height: 2.3rem;
                left: 44.2rem;
                top: 18.9rem;
                font-size: 1.5rem;
                white-space: nowrap;
              }
              .layer1-KJm {
                position: absolute;
                left: 35.5rem;
                top: 19.3rem;
                object-fit: contain;
                vertical-align: top;
                width: 1.8rem;
                height: 1.6rem;
              }
              .item-20-YSR {
                left: 38.4rem;
                top: 18.9rem;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                height: 2.3rem;
                position: absolute;
                white-space: nowrap;
                width: 1.8rem;
                font-size: 1.5rem;
              }
              .it-is-basically-an-ui-ux-designing-application-like-sketch-in-my-opinion-it-has-bunch-of-tools-like-pen-tool-selection-tool-etc-designing-in-xd-is-simple-its-based-on-the-adobe-conventions-if-youre-used-to-work-in-adobe-softwares-like-photoshop-illustrator-you-can-work-with-xd-very-easily-and-efficiently-just-like-in-illustrator-of-sketch-you-can-have-multiple-artboards-VFB {
                width: 45.1rem;
                left: 0;
                top: 0;
                font-weight: 300;
                line-height: 1.825;
                height: 19.2rem;
                position: absolute;
                font-size: 1.5rem;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
              }
              .group-41-xwP {
                width: 1.84rem;
                height: 1.8rem;
                position: absolute;
                left: 41.3rem;
                top: 19.1rem;

                .layer1-P17 {
                  width: 1.4999rem;
                  height: 1.4rem;
                  position: absolute;
                  left: 0rem;
                  top: 0.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .group-27-2bo {
                  width: 0.84rem;
                  height: 0.8167rem;
                  position: absolute;
                  left: 1rem;
                  top: 0;

                  .ellipse-4-s6d {
                    height: 0.7446rem;
                    position: absolute;
                    left: 0.0247rem;
                    top: 0.024rem;
                    object-fit: contain;
                    vertical-align: top;
                    width: 0.7906rem;
                  }
                  .item-32360-1-Us7 {
                    object-fit: cover;
                    vertical-align: top;
                    width: 0.84rem;
                    height: 0.8167rem;
                    position: absolute;
                    left: 0;
                    top: 0;
                  }
                }
              }
            }
            .rita64-6Nh {
              font-size: 1.8rem;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
            }
            .reply-to-r-miro99-in-r-design-tools-adobe-xd-2-hours-ago-xA1 {
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              font-size: 1.2rem;

              .reply-to-r-miro99-in-r-design-tools-adobe-xd-2-hours-ago-xA1-sub-0 {
              }
              .reply-to-r-miro99-in-r-design-tools-adobe-xd-2-hours-ago-xA1-sub-1 {
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
                line-height: 1.5;
              }
              .reply-to-r-miro99-in-r-design-tools-adobe-xd-2-hours-ago-xA1-sub-2 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
              }
              .reply-to-r-miro99-in-r-design-tools-adobe-xd-2-hours-ago-xA1-sub-3 {
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.2rem;
                font-weight: 500;
              }
              .reply-to-r-miro99-in-r-design-tools-adobe-xd-2-hours-ago-xA1-sub-4 {
              }
            }
          }
        }
        .auto-group-fwtw-nTo {
          margin: 0rem 5.36rem 0rem 8.3rem;
          width: calc(100% - 13.66rem);
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .you-are-100-right--z45 {
            flex-shrink: 0;
            margin: 0rem 22.2rem 1rem 0rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.825;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .layer1-ywb {
            flex-shrink: 0;
            margin: 0rem 1.1rem 0.3rem 0rem;
            width: 1.8rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .item-20-x4m {
            margin-right: 1.1rem;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .group-42-BCR {
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            width: 1.84rem;
            height: 1.8rem;

            .layer1-coX {
              left: 0rem;
              top: 0.4rem;
              object-fit: contain;
              vertical-align: top;
              width: 1.4999rem;
              height: 1.4rem;
              position: absolute;
            }
            .group-27-qwB {
              width: 0.84rem;
              height: 0.8167rem;
              position: absolute;
              left: 1rem;
              top: 0;

              .ellipse-4-HHP {
                position: absolute;
                left: 0.0247rem;
                top: 0.024rem;
                object-fit: contain;
                vertical-align: top;
                width: 0.7906rem;
                height: 0.7446rem;
              }
              .item-32360-1-6Vj {
                height: 0.8167rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 0.84rem;
              }
            }
          }
        }
      }
    }
    .midle-line-xgM {
      margin-right: 9.9632rem;
      width: 0.1664rem;
      height: 186.7973rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-s9pj-B3K {
      width: 29.55rem;
      height: 104.7rem;
      position: relative;
      flex-shrink: 0;
      margin-top: 7.3rem;

      .similar-apps-to-r-adobe-xd-QRs {
        height: 2.4rem;
        position: absolute;
        top: 62.7rem;
        font-weight: 500;
        color: #F5F5F7;
        white-space: nowrap;
        display: flex;
        width: 21.7rem;
        align-items: baseline;
        font-size: 1.6rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        left: 0;

        .similar-apps-to-r-adobe-xd-QRs-sub-0 {
        }
        .similar-apps-to-r-adobe-xd-QRs-sub-1 {
          line-height: 1.5;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 300;
        }
      }
      .right-section-1VX {
        width: 29.55rem;
        height: 104.7rem;
        position: absolute;
        left: 0;
        top: 0;

        .news-3SD {
          margin-bottom: 4.4429rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .whatsapp-image-2023-03-20-at-0954-1-gk5 {
            width: 29.3rem;
            height: 57.6rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 1.2rem;
            flex-shrink: 0;
            margin-bottom: 11.3rem;
          }
          .auto-group-sccu-eaR {
            flex-shrink: 0;
            margin: 0rem 21.65rem 2.8rem 0rem;
            width: calc(100% - 21.65rem);
            display: flex;
            align-items: center;

            .adobecreativecloudrainbowicon-1-eyj {
              margin-right: 1.204rem;
              width: 2.596rem;
              height: 2.5065rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .figma-rpu {
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0935rem;
              font-size: 1.3rem;
              font-weight: 300;
              line-height: 1.5;
            }
          }
          .auto-group-qb4q-Fc9 {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 15.15rem 4.73rem 0rem;
            width: calc(100% - 15.15rem);
            display: flex;

            .adobecreativecloudrainbowicon-2-3nu {
              margin-right: 1.204rem;
              width: 2.596rem;
              height: 2.5065rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .adobe-illustrator-3wK {
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-top: 0.0935rem;
              font-size: 1.3rem;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
            }
          }
          .vector-53-fSu {
            vertical-align: top;
            flex-shrink: 0;
            margin-left: 0.2rem;
            width: 29.35rem;
            height: 0.2142rem;
            object-fit: contain;
          }
        }
        .news-letter-section-XG9 {
          width: 27.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 0.6rem;

          .auto-group-8tvy-Mky {
            padding-bottom: 2.2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .news-letter-DHP {
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1.2rem;
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
            }
            .get-the-latest-saas-products-news-directly-to-your-inbox-Sfw {
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 27rem;
              font-size: 1.2rem;
              font-weight: 300;
            }
          }
          .auto-group-ntsm-dkR {
            line-height: 1.8461538462;
            font-style: italic;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 2rem;
            box-sizing: border-box;
            font-size: 1.3rem;
            color: #1D1D1F;
            white-space: nowrap;
            border: solid 0.1rem #F5F5F7;
            width: 100%;
            display: flex;
            letter-spacing: 0.065rem;
            border-radius: 0.6rem;
            padding: 0.6rem 1.1rem;
            background-color: #F5F5F7;
            flex-shrink: 0;
          }
          .auto-group-txsd-UeZ {
            font-family: Poppins, 'Source Sans Pro';
            text-align: center;
            font-weight: 500;
            font-size: 1.4rem;
            border-radius: 0.6rem;
            justify-content: center;
            height: 3.6rem;
            line-height: 1.7142857143;
            white-space: nowrap;
            display: flex;
            align-items: center;
            background-color: #7869e6;
            flex-shrink: 0;
            width: 100%;
            color: #F5F5F7;
          }
        }
      }
    }
  }
  .vector-69-wAm {
    width: 151.65rem;
    height: 0;
    position: absolute;
    left: 0;
    top: 8.5rem;
    object-fit: contain;
    vertical-align: top;
  }
}
