
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-nEq {
  width: 100%;
  height: 146.1rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;

  .vector-3-4zy {
    position: absolute;
    left: 23.8rem;
    top: 5.5rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 25rem;
    width: 5.8rem;
    height: 0;
  }
  .news-7TT {
    height: 2.4rem;
    left: 104.8rem;
    line-height: 1.5;
    white-space: nowrap;
    width: 4.4rem;
    position: absolute;
    top: 11.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
  }
  .discover-more-8dT {
    left: 79.2rem;
    font-weight: 500;
    line-height: 1.6;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.4rem;
    position: absolute;
    font-size: 1.5rem;
    white-space: nowrap;
    width: 10.9rem;
    top: 37.2rem;
  }
  .vector-53-i5s {
    height: 0.2142rem;
    position: absolute;
    left: 104.8rem;
    top: 44.0026rem;
    object-fit: contain;
    vertical-align: top;
    width: 29.35rem;
  }
  .app-of-the-day-kYM {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    left: 10rem;
    top: 36.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    width: 11.9rem;
    height: 2.4rem;
    position: absolute;
    line-height: 1.5;
  }
  .rectangle-78-gaR {
    position: absolute;
    left: 12.7rem;
    top: 56.2rem;
    background-color: #d9d9d9;
    border-radius: 0.6rem;
    width: 2.8rem;
    height: 2.8rem;
  }
  .rectangle-79-xH3 {
    left: 39.2rem;
    top: 56.2rem;
    background-color: #d9d9d9;
    border-radius: 0.6rem;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
  }
  .rectangle-73-r7X {
    position: absolute;
    left: 104.8rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
    width: 27.8rem;
    height: 3.6rem;
    top: 80.8rem;
    border: solid 0.1rem #ffffff;
    background-color: #181a1a;
  }
  .vector-55-jyw {
    vertical-align: top;
    width: 29.2rem;
    height: 0;
    position: absolute;
    left: 104.8rem;
    top: 90.5rem;
    object-fit: contain;
  }
  .vector-54-r2y {
    vertical-align: top;
    width: 0;
    height: 19.3rem;
    position: absolute;
    left: 10rem;
    top: 52.8rem;
    object-fit: contain;
  }
  .trendy-posts-of-the-week-m9w {
    align-items: baseline;
    width: 19.7rem;
    position: absolute;
    left: 114.7rem;
    top: 49.7rem;
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    height: 2.3rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;

    .trendy-posts-of-the-week-m9w-sub-0 {
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.5;
    }
    .trendy-posts-of-the-week-m9w-sub-1 {
    }
  }
  .slack-boosts-ai-capabilities-with-new-chatgpt-app-YM3 {
    width: 27rem;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    height: 4.5rem;
    position: absolute;
    left: 104.9rem;
    top: 18.1rem;
  }
  .government-backed-digital-money-to-represent-213b-in-payments-by-2030-aoX {
    position: absolute;
    left: 104.9rem;
    top: 32.6rem;
    font-weight: 300;
    height: 4.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 28.3rem;
  }
  .how-many-jobs-are-available-in-technology-in-the-us-qDf {
    position: absolute;
    top: 25.3rem;
    font-weight: 300;
    color: #ffffff;
    width: 23.3rem;
    height: 4.5rem;
    left: 104.9rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
  }
  .news-letter-W4u {
    height: 2.4rem;
    position: absolute;
    top: 95.1rem;
    line-height: 1.5;
    white-space: nowrap;
    width: 9.3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    left: 104.8rem;
  }
  .get-the-latest-saas-products-news-directly-to-your-inbox-no7 {
    left: 104.8rem;
    top: 97.6rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 27rem;
    height: 3.6rem;
    position: absolute;
    font-weight: 300;
    color: #ffffff;
  }
  .adobe-suites-3j3 {
    color: #ffffff;
    width: 9.7rem;
    position: absolute;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.3rem;
    left: 12.7rem;
    top: 61.2rem;
    font-size: 1.5rem;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-j65 {
    left: 12.7rem;
    top: 63.5rem;
    font-weight: 300;
    font-family: Poppins, 'Source Sans Pro';
    width: 18.4rem;
    position: absolute;
    line-height: 1.5;
    color: #ffffff;
    height: 3.6rem;
    font-size: 1.2rem;
  }
  .minecraft-Mt9 {
    top: 61.2rem;
    line-height: 1.5;
    white-space: nowrap;
    height: 2.3rem;
    left: 39.2rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 7rem;
    position: absolute;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-NYM {
    font-family: Poppins, 'Source Sans Pro';
    width: 18.4rem;
    height: 3.6rem;
    position: absolute;
    left: 39.2rem;
    color: #ffffff;
    top: 63.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
  }
  .python-m4h {
    font-family: Poppins, 'Source Sans Pro';
    left: 65.7rem;
    top: 61.1rem;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
    width: 5.1rem;
    height: 2.3rem;
    position: absolute;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-Eys {
    height: 3.6rem;
    position: absolute;
    left: 65.7rem;
    font-size: 1.2rem;
    color: #ffffff;
    width: 18.4rem;
    top: 63.5rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
  }
  .cheers--Jyj {
    left: 109.9rem;
    top: 59.1rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 6rem;
    height: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    position: absolute;
    font-size: 1.2rem;
  }
  .published-by-r-rita64-2-hours-ago-Mh7 {
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    white-space: nowrap;
    display: flex;
    height: 1.8rem;
    position: absolute;
    top: 56.4rem;
    font-size: 1.2rem;
    font-family: Poppins, 'Source Sans Pro';
    align-items: baseline;
    width: 21.6rem;
    left: 109.8rem;

    .published-by-r-rita64-2-hours-ago-Mh7-sub-0 {
    }
    .published-by-r-rita64-2-hours-ago-Mh7-sub-1 {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
    }
    .published-by-r-rita64-2-hours-ago-Mh7-sub-2 {
    }
  }
  .vector-57-P1X {
    vertical-align: top;
    width: 0.3004rem;
    height: 0.751rem;
    position: absolute;
    left: 91.3rem;
    top: 38.1rem;
    object-fit: contain;
  }
  .chat-gpt-4tM {
    width: 6.9rem;
    height: 2.3rem;
    font-size: 1.5rem;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 20.5rem;
    top: 42.8rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-xTw {
    line-height: 1.5;
    color: #ffffff;
    font-weight: 300;
    height: 3.6rem;
    position: absolute;
    left: 20.5rem;
    top: 45.3rem;
    font-size: 1.2rem;
    font-family: Poppins, 'Source Sans Pro';
    width: 27rem;
  }
  .adobe-xd-2ih {
    white-space: nowrap;
    width: 7.3rem;
    left: 21.9rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    font-weight: 300;
    line-height: 1.5;
    height: 2.3rem;
    position: absolute;
    top: 82.6rem;
    font-size: 1.5rem;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-X9f {
    height: 3.6rem;
    color: #ffffff;
    top: 85.1rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 27rem;
    position: absolute;
    left: 21.9rem;
  }
  .canva-77s {
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    width: 5rem;
    height: 2.3rem;
    top: 120.7rem;
    font-size: 1.5rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 21.9rem;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-j9F {
    color: #ffffff;
    position: absolute;
    top: 123.2rem;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 27rem;
    height: 3.6rem;
    left: 21.9rem;
    font-weight: 300;
  }
  .behance-zay {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.6rem;
    height: 2.3rem;
    left: 21.9rem;
    color: #ffffff;
    line-height: 1.5;
    position: absolute;
    top: 108rem;
    font-size: 1.5rem;
    font-weight: 300;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-FG1 {
    font-weight: 300;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 27rem;
    height: 3.6rem;
    position: absolute;
    left: 21.9rem;
    top: 110.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  .figma-7p1 {
    position: absolute;
    left: 21.9rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.7rem;
    height: 2.3rem;
    top: 95.3rem;
    font-size: 1.5rem;
    color: #ffffff;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-DMF {
    width: 27rem;
    position: absolute;
    font-weight: 300;
    font-family: Poppins, 'Source Sans Pro';
    line-height: 1.5;
    color: #ffffff;
    height: 3.6rem;
    left: 21.9rem;
    top: 97.8rem;
    font-size: 1.2rem;
  }
  .you-might-also-like-UHB {
    position: absolute;
    top: 52.8rem;
    font-size: 1.1rem;
    line-height: 2.1818181818;
    white-space: nowrap;
    width: 11.1rem;
    height: 2.4rem;
    left: 12.7rem;
    font-weight: 300;
    color: #14c888;
    font-family: Poppins, 'Source Sans Pro';
  }
  .community-wgZ {
    width: 9.7rem;
    height: 2.4rem;
    position: absolute;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    left: 104.8rem;
    top: 49.6rem;
    font-size: 1.6rem;
    white-space: nowrap;
  }
  .ask-questions-pkM {
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
    width: 10rem;
    height: 2.4rem;
    position: absolute;
    left: 113.5rem;
    font-family: Poppins, 'Source Sans Pro';
    top: 81.4rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7142857143;
  }
  .rectangle-89-VrV {
    top: 110.1rem;
    background-color: #7869e6;
    border-radius: 0.6rem;
    width: 27.8rem;
    height: 3.6rem;
    position: absolute;
    left: 104.8rem;
  }
  .subscribe-to-news-letter-149 {
    height: 2.4rem;
    left: 110.1rem;
    top: 110.7rem;
    text-align: center;
    width: 16.9rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7142857143;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .rectangle-90-S9T {
    height: 3.6rem;
    left: 104.8rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    width: 27.8rem;
    position: absolute;
    top: 104.5rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
  }
  .your-email-CH3 {
    position: absolute;
    display: flex;
    font-size: 1.3rem;
    font-style: italic;
    height: 2.4rem;
    left: 105.9rem;
    top: 105.1rem;
    line-height: 1.8461538462;
    letter-spacing: 0.065rem;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 7.5rem;
  }
  .layer1-qau {
    position: absolute;
    left: 77.6rem;
    top: 85.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.1rem;
  }
  .layer1-M3T {
    width: 2.4rem;
    height: 2.1rem;
    position: absolute;
    left: 77.6rem;
    top: 123.2rem;
    object-fit: contain;
    vertical-align: top;
  }
  .layer1-f49 {
    vertical-align: top;
    width: 2.4rem;
    height: 2.1rem;
    position: absolute;
    left: 77.6rem;
    top: 97.6rem;
    object-fit: contain;
  }
  .layer1-Z9X {
    width: 2.4rem;
    height: 2.1rem;
    position: absolute;
    left: 77.6rem;
    top: 110.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-69-4ry {
    top: 8.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 143.9rem;
    height: 0;
    position: absolute;
    left: 0.1rem;
  }
  .vector-70-BRo {
    top: 8.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.107rem;
    height: 120.0973rem;
    position: absolute;
    left: 98.1935rem;
  }
  .item-120-6Hs {
    height: 1.5rem;
    left: 23.7rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 1.5rem;
    position: absolute;
    top: 89.4rem;
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
  }
  .premium-aTw {
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 4.5rem;
    height: 1.5rem;
    position: absolute;
    left: 29.3rem;
    top: 89.4rem;
    font-size: 1rem;
    font-weight: 300;
    white-space: nowrap;
  }
  .design-tool-FKB {
    width: 5.6rem;
    top: 89.4rem;
    font-size: 1rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.5rem;
    position: absolute;
    left: 36.7rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
  }
  .layer1-885 {
    vertical-align: top;
    width: 1.3rem;
    height: 1.1rem;
    position: absolute;
    left: 21.9rem;
    top: 89.7rem;
    object-fit: contain;
  }
  .item-120-bnM {
    line-height: 1.5;
    color: #ffffff;
    white-space: nowrap;
    height: 1.5rem;
    position: absolute;
    top: 127.5rem;
    font-size: 1rem;
    font-weight: 300;
    font-family: Poppins, 'Source Sans Pro';
    width: 1.5rem;
    left: 23.7rem;
  }
  .free-26y {
    font-size: 1rem;
    line-height: 1.5;
    height: 1.5rem;
    left: 29.3rem;
    top: 127.5rem;
    font-weight: 300;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 2.1rem;
    position: absolute;
  }
  .design-tool-SRb {
    font-size: 1rem;
    color: #ffffff;
    width: 5.6rem;
    height: 1.5rem;
    top: 127.5rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 36.7rem;
    font-weight: 300;
  }
  .layer1-toP {
    top: 127.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.3rem;
    height: 1.1rem;
    position: absolute;
    left: 21.9rem;
  }
  .item-120-oQZ {
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 114.7rem;
    left: 23.7rem;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
  }
  .free-gUM {
    width: 2.1rem;
    left: 29.3rem;
    top: 114.7rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.5rem;
    position: absolute;
    font-weight: 300;
  }
  .portfolio-tool-yTT {
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 6.2rem;
    height: 1.5rem;
    left: 36.7rem;
    top: 114.6rem;
    font-size: 1rem;
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
  }
  .layer1-TtR {
    top: 115rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.3rem;
    height: 1.1rem;
    position: absolute;
    left: 21.9rem;
  }
  .item-120-mPK {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 1.5rem;
    top: 102rem;
    left: 23.7rem;
    height: 1.5rem;
    position: absolute;
  }
  .free-3rd {
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 2.1rem;
    height: 1.5rem;
    position: absolute;
    top: 102rem;
    left: 29.3rem;
    font-size: 1rem;
    font-weight: 300;
    color: #ffffff;
  }
  .design-tool-kFF {
    width: 5.6rem;
    height: 1.5rem;
    position: absolute;
    left: 36.7rem;
    top: 101.9rem;
    font-weight: 300;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    white-space: nowrap;
  }
  .layer1-SNy {
    width: 1.3rem;
    height: 1.1rem;
    position: absolute;
    left: 21.9rem;
    top: 102.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .adobexdccicon-1-k8m {
    position: absolute;
    left: 10rem;
    top: 82.6rem;
    object-fit: cover;
    vertical-align: top;
    width: 8.1rem;
    height: 7.9rem;
  }
  .pngwing-1-2MB {
    object-fit: cover;
    vertical-align: top;
    width: 9.6rem;
    height: 9.6rem;
    position: absolute;
    left: 9.2rem;
    top: 94.5rem;
  }
  .behance-logo-vector-1-UDB {
    top: 109.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 8.098rem;
    height: 5.1rem;
    position: absolute;
    left: 10.0011rem;
  }
  .adobecreativecloudrainbowicon-1-W9s {
    left: 12.7rem;
    top: 56.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 2.9rem;
    height: 2.8rem;
    position: absolute;
  }
  .minecraft-2752120-2284937-1-jYR {
    object-fit: cover;
    vertical-align: top;
    width: 2.9rem;
    height: 2.9rem;
    position: absolute;
    left: 39.1rem;
    top: 56.1rem;
  }
  .python-logo-notext-1-oYH {
    position: absolute;
    left: 65.8rem;
    top: 56.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 2.6rem;
    height: 2.9rem;
  }
  .chatgptlogo-1-tZj {
    width: 7.3rem;
    height: 7.3rem;
    position: absolute;
    left: 10.4rem;
    top: 42.5rem;
    object-fit: cover;
    vertical-align: top;
  }
  .canva-logo-1-PmP {
    height: 7.9rem;
    position: absolute;
    left: 10.2rem;
    top: 121rem;
    object-fit: cover;
    vertical-align: top;
    width: 7.9rem;
  }
  .item--tTF {
    top: 65.4rem;
    font-size: 1.2rem;
    white-space: nowrap;
    left: 109.9rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 0.9rem;
    height: 1.8rem;
    position: absolute;
  }
  .published-by-r-imane31-20-hours-ago-xT7 {
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    align-items: baseline;
    width: 23.5rem;
    font-weight: 300;
    left: 109.9rem;
    top: 63.6rem;
    font-size: 1.2rem;
    line-height: 1.5;
    white-space: nowrap;
    height: 1.8rem;
    position: absolute;

    .published-by-r-imane31-20-hours-ago-xT7-sub-0 {
    }
    .published-by-r-imane31-20-hours-ago-xT7-sub-1 {
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.5;
      color: #ffffff;
    }
    .published-by-r-imane31-20-hours-ago-xT7-sub-2 {
    }
  }
  .how-do-you-improve-productiviy--xE9 {
    left: 109.9rem;
    top: 72.2rem;
    font-weight: 500;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    height: 1.8rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
    width: 21.5rem;
  }
  .published-by-r-miro99-20-hours-ago-1y7 {
    top: 70.4rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    align-items: baseline;
    height: 1.8rem;
    left: 109.8rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
    width: 22.6rem;
    position: absolute;

    .published-by-r-miro99-20-hours-ago-1y7-sub-0 {
    }
    .published-by-r-miro99-20-hours-ago-1y7-sub-1 {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
    }
    .published-by-r-miro99-20-hours-ago-1y7-sub-2 {
    }
  }
  .rectangle-103-7Ps {
    height: 2.1rem;
    position: absolute;
    top: 69.3rem;
    width: 5.4rem;
    left: 12.8rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    background-color: #181a1a;
    border-radius: 0.6rem;
  }
  .visit-aoF {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    color: #ffffff;
    width: 2rem;
    height: 1.5rem;
    left: 14.55rem;
    top: 69.6rem;
  }
  .rectangle-105-Gg5 {
    box-sizing: border-box;
    background-color: #181a1a;
    border: solid 0.1rem #ffffff;
    border-radius: 0.6rem;
    width: 5.4rem;
    height: 2.1rem;
    position: absolute;
    left: 65.8rem;
    top: 69.3rem;
  }
  .visit-kr9 {
    white-space: nowrap;
    width: 2rem;
    height: 1.5rem;
    left: 67.5rem;
    top: 69.6rem;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
  }
  .rectangle-104-FH7 {
    width: 5.4rem;
    position: absolute;
    top: 69.3rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    border-radius: 0.6rem;
    height: 2.1rem;
    left: 39.3rem;
    background-color: #181a1a;
  }
  .visit-8Lu {
    position: absolute;
    left: 41rem;
    top: 69.6rem;
    font-weight: 300;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    white-space: nowrap;
  }
  .screen-shot-2023-03-14-at-2021-1-d2m {
    vertical-align: top;
    border-radius: 9rem;
    width: 4rem;
    height: 4.1rem;
    position: absolute;
    left: 104.9rem;
    top: 63.3rem;
    object-fit: cover;
  }
  .screen-shot-2023-03-14-at-2022-1-Vqf {
    vertical-align: top;
    border-radius: 9rem;
    width: 4.1rem;
    height: 4.1rem;
    position: absolute;
    left: 104.8rem;
    top: 56.6rem;
    object-fit: cover;
  }
  .screen-shot-2023-03-14-at-2022-2-nJy {
    left: 104.9rem;
    top: 70.1rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 9rem;
    width: 4rem;
    height: 4.1rem;
    position: absolute;
  }
  .item-20-rZj {
    white-space: nowrap;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    left: 78.2rem;
    top: 87.5rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 1.2rem;
    height: 1.5rem;
    position: absolute;
  }
  .item-30-LE1 {
    top: 99.9rem;
    text-align: center;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    height: 1.5rem;
    left: 78.15rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    width: 1.3rem;
  }
  .item-186-DHo {
    font-weight: 300;
    color: #ffffff;
    width: 1.6rem;
    height: 1.5rem;
    position: absolute;
    left: 78rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    top: 112.8rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
  }
  .item-20-VWD {
    left: 78.2rem;
    top: 125.5rem;
    text-align: center;
    white-space: nowrap;
    width: 1.2rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    height: 1.5rem;
  }
  .section-1-aGm {
    position: absolute;
    left: 10rem;
    top: 11.8rem;
    box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
    background-color: #232628;
    border-radius: 2.1rem;
    width: 81.6rem;
    height: 19.8rem;
  }
  .title-cUM {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 29.3rem;
    height: 2.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3333333333;
    color: #ffffff;
    position: absolute;
    left: 12.8rem;
    top: 14.4rem;
  }
  .search-bar-J6H {
    left: 12.8rem;
    top: 18.7rem;
    background-color: #ffffff;
    border-radius: 0.6rem;
    width: 72.1rem;
    height: 3.6rem;
    position: absolute;
  }
  .search-icon-o33 {
    left: 13.7rem;
    top: 19.5rem;
    object-fit: cover;
    vertical-align: top;
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
  }
  .search-gMj {
    white-space: nowrap;
    left: 20rem;
    justify-content: center;
    font-size: 1.6rem;
    font-style: italic;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.4rem;
    align-items: center;
    line-height: 1.5;
    letter-spacing: 0.08rem;
    width: 6.1rem;
    color: #000000;
    position: absolute;
    top: 19.3rem;
    display: flex;
  }
  .filter-button-w2m {
    width: 3.2rem;
    height: 2.8003rem;
    position: absolute;
    left: 85.8001rem;
    top: 19rem;
    object-fit: contain;
    vertical-align: top;
  }
  .share-link-button-E1s {
    top: 13.497rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.3667rem;
    height: 1.3667rem;
    position: absolute;
    left: 85.9rem;
  }
  .close-button-XWm {
    top: 13rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4848rem;
    height: 2.4848rem;
    position: absolute;
    left: 87.5152rem;
  }
  .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-qnM {
    width: 27rem;
    position: absolute;
    top: 25.3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ffffff;
    height: 3.6rem;
    left: 24.4rem;
    font-weight: 300;
    font-family: Poppins, 'Source Sans Pro';
  }
  .chatgptlogo--W7o {
    vertical-align: top;
    border-radius: 3.65rem;
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    left: 17.8rem;
    top: 24.7rem;
    object-fit: cover;
  }
  .canva-logo--oMo {
    height: 4.8rem;
    position: absolute;
    left: 15.5rem;
    top: 24.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.8rem;
  }
  .adobe-suites-logo-7dP {
    position: absolute;
    left: 13rem;
    top: 24.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2.4rem;
    width: 5rem;
    height: 4.8rem;
  }
  .sign-up-button-boT {
    display: flex;
    height: 3.6rem;
    position: absolute;
    left: 125.4rem;
    color: #ffffff;
    white-space: nowrap;
    align-items: center;
    background-color: #7869e6;
    width: 8.6rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    top: 2.6rem;
    font-family: Poppins, 'Source Sans Pro';
    justify-content: center;
    font-weight: 300;
    line-height: 1.6;
  }
  .sign-in-button-zqb {
    left: 113.8rem;
    text-align: center;
    font-weight: 300;
    align-items: center;
    border-radius: 0.6rem;
    position: absolute;
    line-height: 1.6;
    justify-content: center;
    height: 3.6rem;
    top: 2.5rem;
    font-size: 1.5rem;
    white-space: nowrap;
    box-sizing: border-box;
    width: 8.6rem;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    display: flex;
    border: solid 0.1rem #ffffff;
  }
  .community-21b {
    height: 2.4rem;
    left: 78.75rem;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: Poppins, 'Source Sans Pro';
    width: 8.8rem;
    position: absolute;
    top: 3.1rem;
    text-align: center;
    line-height: 1.6;
    color: #ffffff;
    white-space: nowrap;
  }
  .resources-5Em {
    width: 7.7rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    left: 60.5rem;
    top: 3.1rem;
    line-height: 1.6;
    font-family: Poppins, 'Source Sans Pro';
  }
  .submit-your-tool-xZT {
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.4rem;
    position: absolute;
    left: 39.4rem;
    top: 3.1rem;
    font-size: 1.5rem;
    white-space: nowrap;
    width: 12.2rem;
  }
  .all-tools-357 {
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    font-size: 1.5rem;
    line-height: 1.6;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    width: 5.7rem;
    left: 23.9rem;
    top: 3.1rem;
    text-align: center;
    font-weight: 300;
  }
  .tiktok-logo-WUV {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 92.6rem;
    top: 1.8rem;

    .rectangle-81-pEH {
      height: 3.2rem;
      position: absolute;
      left: 0.9rem;
      top: 0.9rem;
      background-color: #ffffff;
      width: 3.2rem;
    }
    .tiktok-1-KRw {
      vertical-align: top;
      width: 5rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }
  .tech-bible-logo-373 {
    border: solid 0.2rem #ffffff;
    box-sizing: border-box;
    padding: 3rem 0.4rem 0.3rem 0.4rem;
    width: 5.1rem;
    height: 5.2rem;
    position: absolute;
    left: 10.3rem;
    top: 1.4rem;

    .tech-bible-J2y {
      max-width: 2.2rem;
      font-size: 0.9rem;
      font-weight: 700;
      line-height: 1.0402272542;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .group-25-Aqs {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 81.6rem;
    top: 84.9rem;

    .ellipse-4-gZK {
      object-fit: contain;
      vertical-align: top;
      width: 2.3529rem;
      height: 2.2794rem;
      position: absolute;
      left: 0.0735rem;
      top: 0.0735rem;
    }
    .item-32360-1-o89 {
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .group-28-Jqb {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 81.5rem;
    top: 110.5rem;

    .ellipse-4-q4q {
      width: 2.3529rem;
      height: 2.2794rem;
      position: absolute;
      left: 0.0735rem;
      top: 0.0735rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item-32360-1-95X {
      object-fit: cover;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .group-25-fJm {
    top: 97.6rem;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 81.6rem;

    .ellipse-4-nPP {
      position: absolute;
      left: 0.0735rem;
      top: 0.0735rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.3529rem;
      height: 2.2794rem;
    }
    .item-32360-1-txD {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .group-29-ctD {
    height: 2.5rem;
    position: absolute;
    left: 81.5rem;
    top: 123.2rem;
    width: 2.5rem;

    .ellipse-4-97T {
      height: 2.2794rem;
      position: absolute;
      left: 0.0735rem;
      top: 0.0735rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.3529rem;
    }
    .item-32360-1-eK7 {
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
    }
  }
  .white-youtube-icon-png-28-1-xqb {
    left: 97.8rem;
    top: 2.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.9rem;
    width: 3.7rem;
    height: 3.7rem;
    position: absolute;
  }
  .pngfind-1-eCd {
    height: 2.1rem;
    position: absolute;
    left: 102.8rem;
    top: 3.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 2.1rem;
  }
}
