
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-about-93B {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #1D1D1F;

  .auto-group-7fux-jn5 {
    position: absolute;
    left: 10rem;
    top: 1.7rem;
    display: flex;
    align-items: center;
    width: 122.2rem;
    height: 5.2rem;

    .tech-bible-logo-WAZ {
      box-sizing: border-box;
      padding: 3rem 0.4rem 0.3rem 0.4rem;
      width: 5.1rem;
      height: 100%;
      border: solid 0.2rem #F5F5F7;
      flex-shrink: 0;

      .tech-bible-gDT {
        line-height: 1.0402272542;
        color: #F5F5F7;
        font-family: Inter, 'Source Sans Pro';
        max-width: 2.2rem;
        font-size: 0.9rem;
        font-weight: 700;
      }
    }
    .auto-group-y8fo-cmK {
      box-sizing: border-box;
      padding: 0.1rem 0rem 0.1rem 8.7rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-s253-AwF {
        height: calc(100% - 2.6rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.3rem 9.8rem 1.3rem 0rem;
        width: 5.8rem;

        .all-tools-wad {
          text-align: center;
          line-height: 1.6;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          font-size: 1.5rem;
          font-weight: 300;
          color: #F5F5F7;
        }
        .vector-3-YaR {
          width: 5.8rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 25rem;
          flex-shrink: 0;
        }
      }
      .submit-your-tool-9aD {
        white-space: nowrap;
        text-align: center;
        color: #F5F5F7;
        font-weight: 300;
        line-height: 1.6;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 8.9rem;
        font-size: 1.5rem;
      }
      .resources-fKb {
        white-space: nowrap;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6;
        color: #F5F5F7;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 10.55rem;
        font-weight: 300;
      }
      .community-dfj {
        margin-right: 8.15rem;
        white-space: nowrap;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.6;
        color: #F5F5F7;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .layer1-eqj {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 2.3rem 0rem 0rem;
        width: 2.4rem;
        height: 2.9rem;
      }
      .white-youtube-icon-png-28-1-eUM {
        margin: 0.1rem 2.3rem 0rem 0rem;
        width: 3.7rem;
        height: 3.7rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.9rem;
        flex-shrink: 0;
      }
      .pngfind-1-zgd {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 7.3rem 0rem 0rem;
      }
      .layer1-auj {
        height: 2.6rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3rem 0rem 0rem;
        width: 2.3rem;
      }
      .layer1-aHT {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 4.4rem 0rem 0rem;
        width: 2.4rem;
        height: 2.1rem;
        object-fit: contain;
      }
      .screen-shot-2023-03-14-at-2022-3-wfj {
        margin-bottom: 0.6rem;
        width: 4.3rem;
        height: 4.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 9rem;
        flex-shrink: 0;
      }
    }
  }
  .vector-69-iK7 {
    width: 150.45rem;
    height: 0;
    position: absolute;
    left: 0.1rem;
    top: 8.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .auto-group-kklh-wBs {
    top: 22.6rem;
    display: flex;
    align-items: flex-end;
    width: 53.7rem;
    height: 10.5rem;
    position: absolute;
    left: 31rem;

    .auto-group-uf4h-LUu {
      margin: 0.6rem 2.5rem 1.8rem 0rem;
      width: 8rem;
      height: calc(100% - 2.4rem);
      position: relative;
      flex-shrink: 0;

      .ellipse-1-Y5B {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        border-radius: 4rem;
        width: 8rem;
        height: 8rem;
      }
      .screen-shot-2023-03-14-at-2022-2-yRP {
        height: 8.1rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 9rem;
        width: 8rem;
      }
    }
    .auto-group-naqm-Z8h {
      margin-right: 4.9rem;
      width: 31.2rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-siz1-oYq {
        align-items: flex-start;
        margin: 0rem 19.1rem 1rem 0rem;
        width: calc(100% - 19.1rem);
        display: flex;

        .miro99-ox9 {
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.5;
        }
        .auto-group-phqq-SER {
          align-items: center;
          font-weight: 300;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          width: 5.7rem;
          height: 2.1rem;
          border-radius: 0.6rem;
          justify-content: center;
          background-color: rgba(35, 38, 40, 0.5899999738);
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          line-height: 1.5;
        }
      }
      .sheesh-digital-marketing-and-graphic-design-adobe-suites-6iH {
        margin-bottom: 1.5rem;
        max-width: 30.3rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
        color: #F5F5F7;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-p2wq-4Yd {
        margin-left: 0.1rem;
        height: 2.1rem;
        display: flex;
        column-gap: 4.9rem;
        align-items: center;

        .auto-group-k9zm-t1s {
          font-family: Poppins, 'Source Sans Pro';
          width: 7.1rem;
          height: 100%;
          color: #F5F5F7;
          background-color: rgba(35, 38, 40, 0.5899999738);
          display: flex;
          justify-content: center;
          border-radius: 0.6rem;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
        }
        .auto-group-xaq5-ZXK {
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          width: 7.1rem;
          height: 100%;
          font-size: 1rem;
          font-weight: 300;
          border: solid 0.1rem #F5F5F7;
          line-height: 1.5;
          color: #F5F5F7;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.6rem;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: rgba(35, 38, 40, 0.5899999738);
        }
        .auto-group-qqwd-req {
          line-height: 1.5;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          width: 7.1rem;
          font-size: 1rem;
          color: #F5F5F7;
          justify-content: center;
          height: 100%;
          font-weight: 300;
          white-space: nowrap;
          align-items: center;
          background-color: rgba(35, 38, 40, 0.5899999738);
          border-radius: 0.6rem;
        }
      }
    }
    .auto-group-see1-P2V {
      width: 7.1rem;
      height: 2.1rem;
      line-height: 1.5;
      align-items: center;
      font-size: 1rem;
      color: #F5F5F7;
      flex-shrink: 0;
      font-weight: 300;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      justify-content: center;
      border-radius: 0.6rem;
      display: flex;
      background-color: #232628;
    }
  }
  .welcome-K4Z {
    width: 8.3rem;
    position: absolute;
    left: 31rem;
    top: 17.1rem;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.4rem;
    font-weight: 500;
    color: #F5F5F7;
    white-space: nowrap;
  }
  .auto-group-vo4y-GP7 {
    left: 27.6rem;
    top: 36.3rem;
    width: 81.1rem;
    height: 58.9rem;
    position: absolute;

    .my-list-5rM {
      left: 3.4rem;
      font-size: 1.6rem;
      font-weight: 500;
      color: #F5F5F7;
      font-family: Poppins, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      top: 2rem;
      line-height: 1.5;
      white-space: nowrap;
      width: 5.4rem;
    }
    .group-53-SKX {
      padding: 1.8rem 3.1rem 1.8rem 3.3rem;
      background-color: #1D1D1F;
      border-radius: 2.1rem;
      box-sizing: border-box;
      height: 58.9rem;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      width: 81.1rem;

      .auto-group-jbj3-aa9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 4rem;
        align-items: center;

        .my-list-CbX {
          font-weight: 500;
          line-height: 1.5;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 7rem 4.6rem 0rem;
          font-size: 1.6rem;
        }
        .ec-ac1c-4a9c-a816-a1fb1882abbe-2-o5X {
          margin: 0rem 0rem 4.3rem 0.5rem;
          width: 7.9rem;
          height: 7.9rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .webflowlogoicon169218-2-YhK {
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 4.3rem 1rem;
        }
        .pngwing-2-Lt5 {
          margin: 0rem 0rem 5.1rem 2.8rem;
          width: 9.6rem;
          height: 9.6rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .behance-logo-vector-2-jvD {
          width: 8.098rem;
          height: 5.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 2.9001rem;
        }
      }
      .vector-54-YMs {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 4.1rem 14.6rem 0rem 0rem;
        width: 0;
        height: 46rem;
      }
      .auto-group-7sd3-xwP {
        height: 46.8rem;
        position: relative;
        flex-shrink: 0;
        margin: 4.3rem 21.4rem 0rem 0rem;
        width: 27.9rem;

        .webflow-Lh3 {
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          width: 6.7rem;
          height: 2.3rem;
          position: absolute;
          left: 0;
          top: 13rem;
          line-height: 1.5;
          white-space: nowrap;
          font-size: 1.5rem;
          font-weight: 300;
        }
        .build-websites-without-code-JXP {
          font-weight: 300;
          white-space: nowrap;
          height: 1.8rem;
          position: absolute;
          left: 0;
          font-size: 1.2rem;
          font-family: Poppins, 'Source Sans Pro';
          width: 16.5rem;
          top: 15.5rem;
          line-height: 1.5;
          color: #F5F5F7;
        }
        .behance-UqB {
          height: 2.3rem;
          position: absolute;
          top: 38.6rem;
          font-size: 1.5rem;
          font-weight: 300;
          color: #F5F5F7;
          width: 6.6rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          left: 0.9rem;
        }
        .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-TBK {
          color: #F5F5F7;
          height: 3.6rem;
          font-size: 1.2rem;
          line-height: 1.5;
          top: 41.1rem;
          font-weight: 300;
          font-family: Poppins, 'Source Sans Pro';
          width: 27rem;
          position: absolute;
          left: 0.9rem;
        }
        .figma-AV3 {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          color: #F5F5F7;
          left: 0.9rem;
          top: 25.9rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.5;
          width: 4.7rem;
          height: 2.3rem;
        }
        .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-9Ly {
          height: 3.6rem;
          position: absolute;
          left: 0.9rem;
          font-weight: 300;
          font-family: Poppins, 'Source Sans Pro';
          width: 27rem;
          top: 28.4rem;
          font-size: 1.2rem;
          line-height: 1.5;
          color: #F5F5F7;
        }
        .auto-group-zuss-Ga1 {
          position: absolute;
          left: 0.9rem;
          top: 45.2rem;
          display: flex;
          align-items: flex-end;
          width: 21rem;
          height: 1.6rem;

          .layer1-rYD {
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-120-DGH {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.1rem;
          }
          .free-QLm {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.3rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
          }
          .portfolio-tool-SYM {
            margin-bottom: 0.1rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-gv9w-GnH {
          width: 20.4rem;
          height: 1.6rem;
          position: absolute;
          left: 0.9rem;
          top: 32.5rem;
          display: flex;
          align-items: flex-end;

          .layer1-5Dw {
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-120-6Pw {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.1rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
          }
          .free-YFw {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.3rem;
          }
          .design-tool-CLV {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .auto-group-afqh-RDF {
          width: 21.3rem;
          height: 1.6rem;
          position: absolute;
          left: 0.9rem;
          top: 19.2rem;
          display: flex;
          align-items: flex-end;

          .auto-group-ger3-qGy {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            position: relative;
          }
          .auto-group-lsx7-qAV {
            flex-shrink: 0;
            margin-right: 4.1rem;
            width: 1.5rem;
            height: 1.5rem;
            position: relative;

            .item-120-gwo {
              height: 1.5rem;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              top: 0;
              font-size: 1rem;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              width: 1.5rem;
              position: absolute;
              left: 0;
            }
            .item-120-Hgh {
              width: 1.5rem;
              font-weight: 300;
              line-height: 1.5;
              white-space: nowrap;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              height: 1.5rem;
              position: absolute;
              left: 0;
              top: 0;
              font-size: 1rem;
            }
          }
          .auto-group-owg5-5cZ {
            position: relative;
            flex-shrink: 0;
            margin-right: 5.3rem;
            width: 2.1rem;
            height: 1.5rem;

            .free-YFF {
              left: 0;
              font-size: 1rem;
              color: #F5F5F7;
              position: absolute;
              height: 1.5rem;
              top: 0;
              font-weight: 300;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              width: 2.1rem;
            }
            .free-x45 {
              width: 2.1rem;
              height: 1.5rem;
              top: 0;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 0;
              font-size: 1rem;
            }
          }
          .auto-group-qhbt-Afw {
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 6.5rem;
            height: 1.5rem;

            .no-code-tool-cXw {
              top: 0;
              font-size: 1rem;
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              height: 1.5rem;
              position: absolute;
              left: 0;
              font-weight: 300;
              color: #F5F5F7;
              white-space: nowrap;
              width: 6.5rem;
            }
            .no-code-tool-2rZ {
              top: 0;
              font-size: 1rem;
              font-family: Poppins, 'Source Sans Pro';
              left: 0;
              height: 1.5rem;
              position: absolute;
              font-weight: 300;
              line-height: 1.5;
              color: #F5F5F7;
              white-space: nowrap;
              width: 6.5rem;
            }
          }
        }
        .auto-group-57nm-cZs {
          position: absolute;
          left: 0;
          top: 6.7rem;
          display: flex;
          align-items: flex-end;
          width: 21.3rem;
          height: 1.6rem;

          .group-33-SJ1 {
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.5rem 0.1rem 0rem;
          }
          .item-120-3Ho {
            margin-right: 4.1rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .free-UP7 {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.3rem;
          }
          .no-code-tool-ujK {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #F5F5F7;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .flutter-flow-M5X {
          font-weight: 300;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          width: 8.3rem;
          height: 2.3rem;
          top: 0;
          font-size: 1.5rem;
          line-height: 1.5;
          position: absolute;
          left: 0;
        }
        .build-native-android-and-ios-apps-without-code-ktM {
          position: absolute;
          left: 0;
          top: 2.7rem;
          height: 3.6rem;
          font-size: 1.2rem;
          font-weight: 300;
          line-height: 1.5;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          width: 24.9rem;
        }
      }
      .auto-group-szdj-iTo {
        flex-shrink: 0;
        margin-bottom: 4.6rem;
        width: 10.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .tools-saved-y8q {
          text-align: right;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #F5F5F7;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .auto-group-smxh-DJ5 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 6.7rem 0rem 0rem 4.3rem;
          width: 100%;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .auto-group-uod7-pof {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0rem 6.9rem 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;

            .auto-group-ac4m-T5w {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.1rem 1.5rem 0rem 0rem;
              align-items: center;

              .layer1-fho {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                width: 2.4rem;
                height: 2.1rem;
                object-fit: contain;
              }
              .item-20-heV {
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
              }
            }
            .group-31-ipV {
              width: 2.5rem;
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;

              .ellipse-4-DHP {
                top: 0.0735rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.3529rem;
                height: 2.2794rem;
                position: absolute;
                left: 0.0735rem;
              }
              .item-32360-1-39w {
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
          .auto-group-htuh-TUZ {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 0.1rem 8.7rem 0rem;
            width: calc(100% - 0.1rem);
            display: flex;

            .auto-group-7d6v-fqX {
              margin: 0.1rem 1.5rem 0rem 0rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .layer1-6fw {
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                width: 2.4rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item-20-XFT {
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .group-34-YwF {
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;
              width: 2.5rem;

              .ellipse-4-ptm {
                position: absolute;
                left: 0.0735rem;
                top: 0.0735rem;
                object-fit: contain;
                vertical-align: top;
                width: 2.3529rem;
                height: 2.2794rem;
              }
              .item-32360-1-TRw {
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
            }
          }
          .auto-group-7geh-5y7 {
            margin: 0rem 0rem 10.4rem 0.1rem;
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .auto-group-whph-KeV {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0.1rem 1.5rem 0rem 0rem;

              .group-36-A9K {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.2rem;
                width: 2.4rem;
                height: 2.1rem;
                object-fit: contain;
              }
              .item-20-z8M {
                flex-shrink: 0;
                text-align: center;
                font-size: 1rem;
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .group-35-dBK {
              width: 2.5rem;
              height: 2.5rem;
              position: relative;
              flex-shrink: 0;

              .ellipse-4-VjK {
                width: 2.3529rem;
                height: 2.2794rem;
                position: absolute;
                left: 0.0735rem;
                top: 0.0735rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item-32360-1-W8d {
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 2.5rem;
                height: 2.5rem;
              }
            }
          }
          .auto-group-7arh-jGH {
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin-left: 0.1rem;

            .auto-group-vl8v-ygR {
              margin: 0.1rem 1.5rem 0rem 0rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .group-38-mcH {
                margin-bottom: 0.2rem;
                width: 2.4rem;
                height: 2.1rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-20-zzq {
                font-weight: 300;
                line-height: 1.5;
                color: #F5F5F7;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1rem;
              }
            }
            .group-37-pW1 {
              position: relative;
              flex-shrink: 0;
              width: 2.5rem;
              height: 2.5rem;

              .ellipse-4-5B3 {
                vertical-align: top;
                width: 2.3529rem;
                height: 2.2794rem;
                position: absolute;
                left: 0.0735rem;
                top: 0.0735rem;
                object-fit: contain;
              }
              .item-32360-1-6M3 {
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 2.5rem;
                height: 2.5rem;
                position: absolute;
              }
            }
          }
        }
      }
    }
  }
  .auto-group-d6x5-rUd {
    position: absolute;
    left: 31rem;
    top: 106.8rem;
    display: flex;
    align-items: flex-start;
    width: 47.2rem;
    height: 7.9rem;

    .rectangle-87-efP {
      margin-right: 3.8rem;
      width: 8.1rem;
      height: 7.9rem;
      background-color: #d9d9d9;
      border-radius: 0.6rem;
      flex-shrink: 0;
    }
    .auto-group-npwh-Edb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .bibletech-7SV {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        color: #F5F5F7;
      }
      .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-KYZ {
        font-weight: 300;
        line-height: 1.5;
        color: #F5F5F7;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
      }
    }
  }
}
