
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-my-list-Tyo {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  width: 100%;

  .auto-group-xkcz-MJV {
    height: 8.4rem;
    position: absolute;
    left: 10rem;
    top: 0.1rem;
    display: flex;
    align-items: center;
    width: 122.9rem;

    .eba91235a2dc1787ad14305033cb2e0ec5720x720-1-Rp9 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      width: 8.1rem;
      height: 8.4rem;
    }
    .auto-group-x4sy-ujK {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1rem 0rem 1rem 5.7rem;

      .auto-group-q66q-bs3 {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2rem 9.8rem 2rem 0rem;
        width: 5.8rem;
        height: calc(100% - 4rem);

        .all-tools-Hjs {
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.6;
          color: #ffffff;
          width: 100%;
          font-weight: 300;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .vector-3-ZxH {
          object-fit: contain;
          vertical-align: top;
          border-radius: 25rem;
          flex-shrink: 0;
          width: 5.8rem;
          height: 0;
        }
      }
      .submit-your-tool-sTB {
        flex-shrink: 0;
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        line-height: 1.6;
        white-space: nowrap;
        margin-right: 8.9rem;
        text-align: center;
        font-weight: 300;
      }
      .resources-m2m {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.6;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 10.55rem;
      }
      .community-f89 {
        font-weight: 300;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.15rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.6;
      }
      .auto-group-5b3b-N2Z {
        margin: 0.6rem 15.1rem 0.8rem 0rem;
        width: 5rem;
        height: calc(100% - 1.4rem);
        position: relative;
        flex-shrink: 0;

        .rectangle-81-rTX {
          width: 3.2rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
          top: 0.9rem;
          background-color: #ffffff;
        }
        .tiktok-1-Yr9 {
          vertical-align: top;
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
      }
      .layer1-SwX {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3rem 0rem 0rem;
        width: 2.3rem;
        height: 2.6rem;
        object-fit: contain;
      }
      .layer1-kBX {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 3rem 0rem 0rem;
        width: 2.4rem;
        height: 2.1rem;
        object-fit: contain;
      }
      .group-13-4CD {
        width: 6.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-2-bC9 {
          background-color: #d9d9d9;
          border-radius: 2.6rem;
          width: 5.2rem;
          height: 5.2rem;
          position: absolute;
          left: 0.6rem;
          top: 0.6rem;
        }
        .ellipse-3-VHX {
          width: 5rem;
          height: 5rem;
          position: absolute;
          left: 0.7rem;
          top: 0.7rem;
          background-color: #ffffff;
          border-radius: 2.5rem;
        }
        .item-6522516-1-oZ7 {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 6.4rem;
          height: 6.4rem;
          position: absolute;
        }
        .item-6522516-2-v7w {
          object-fit: cover;
          vertical-align: top;
          width: 6.4rem;
          height: 6.4rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  .vector-69-pUD {
    object-fit: contain;
    vertical-align: top;
    width: 150.45rem;
    height: 0;
    position: absolute;
    left: 0.1rem;
    top: 8.5rem;
  }
  .auto-group-abdw-vn9 {
    align-items: center;
    width: 41.7rem;
    height: 10.5rem;
    position: absolute;
    left: 31rem;
    top: 22.6rem;
    display: flex;

    .auto-group-1cjx-dAm {
      margin: 0.6rem 2.5rem 1.8rem 0rem;
      width: 8rem;
      height: calc(100% - 2.4rem);
      position: relative;
      flex-shrink: 0;

      .ellipse-1-jUh {
        width: 8rem;
        height: 8rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        border-radius: 4rem;
      }
      .screen-shot-2023-03-14-at-2022-2-4G5 {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 9rem;
        width: 8rem;
        height: 8.1rem;
        position: absolute;
      }
    }
    .auto-group-ij1s-Yh3 {
      width: 31.2rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-kksm-GN9 {
        margin: 0rem 20.3rem 1rem 0rem;
        width: calc(100% - 20.3rem);
        display: flex;
        align-items: flex-start;

        .miro99-AyK {
          flex-shrink: 0;
          margin-right: 0.2rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-9dyf-5qP {
          font-weight: 300;
          align-items: center;
          flex-shrink: 0;
          height: 2.1rem;
          color: #ffffff;
          background-color: #232628;
          justify-content: center;
          border-radius: 0.6rem;
          font-size: 1rem;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          width: 5.7rem;
          line-height: 1.5;
          white-space: nowrap;
        }
      }
      .sheesh-digital-marketing-and-graphic-design-adobe-suites-9KT {
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 1.5rem;
        max-width: 30.4rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
        color: #ffffff;
      }
      .auto-group-wwdf-cTw {
        align-items: center;
        margin-left: 0.1rem;
        height: 2.1rem;
        display: flex;
        column-gap: 4.9rem;

        .auto-group-d1d7-Kt9 {
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-size: 1rem;
          display: flex;
          justify-content: center;
          background-color: #232628;
          height: 100%;
          align-items: center;
          border-radius: 0.6rem;
          flex-shrink: 0;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          width: 7.1rem;
        }
        .auto-group-xyd3-Pd7 {
          height: 100%;
          font-size: 1rem;
          border: solid 0.1rem #ffffff;
          flex-shrink: 0;
          width: 7.1rem;
          align-items: center;
          box-sizing: border-box;
          border-radius: 0.6rem;
          font-weight: 300;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          line-height: 1.5;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          background-color: #232628;
        }
        .auto-group-4ucv-SLV {
          align-items: center;
          justify-content: center;
          background-color: #232628;
          width: 7.1rem;
          font-size: 1rem;
          line-height: 1.5;
          flex-shrink: 0;
          font-weight: 300;
          display: flex;
          border-radius: 0.6rem;
          height: 100%;
          font-family: Poppins, 'Source Sans Pro';
          color: #ffffff;
          white-space: nowrap;
        }
      }
    }
  }
  .welcome-tiH {
    width: 8.3rem;
    position: absolute;
    top: 17.1rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.4rem;
    left: 31rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
  }
  .auto-group-a2fw-m1P {
    width: 47.2rem;
    height: 7.9rem;
    position: absolute;
    left: 31rem;
    top: 106.8rem;
    display: flex;
    align-items: flex-start;

    .rectangle-87-tVK {
      border-radius: 0.6rem;
      flex-shrink: 0;
      margin-right: 3.8rem;
      width: 8.1rem;
      height: 7.9rem;
      background-color: #d9d9d9;
    }
    .auto-group-typp-PS5 {
      flex-direction: column;
      flex-shrink: 0;
      display: flex;

      .bibletech-7cy {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-Rdf {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
}
