
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-about-GMB {
  background-color: #000000;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .auto-group-9ik7-xUu {
    left: 10rem;
    top: 0.1rem;
    display: flex;
    align-items: center;
    width: 122.9rem;
    height: 8.4rem;
    position: absolute;

    .eba91235a2dc1787ad14305033cb2e0ec5720x720-1-ecd {
      width: 8.1rem;
      height: 8.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-dz3f-LkM {
      box-sizing: border-box;
      padding: 1rem 0rem 1rem 5.7rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qdqh-Rmo {
        margin: 2rem 9.8rem 2rem 0rem;
        width: 5.8rem;
        height: calc(100% - 4rem);
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .all-tools-Uzy {
          font-weight: 300;
          line-height: 1.6;
          font-size: 1.5rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          width: 100%;
          text-align: center;
        }
        .vector-3-xv9 {
          flex-shrink: 0;
          width: 5.8rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          border-radius: 25rem;
        }
      }
      .submit-your-tool-sXK {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        font-weight: 300;
        line-height: 1.6;
        color: #ffffff;
        margin-right: 8.9rem;
        font-size: 1.5rem;
      }
      .resources-AmK {
        font-size: 1.5rem;
        font-weight: 300;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 10.55rem;
        text-align: center;
        line-height: 1.6;
        white-space: nowrap;
      }
      .community-rPF {
        margin-right: 8.15rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.6;
        white-space: nowrap;
        flex-shrink: 0;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-jktk-kzR {
        flex-shrink: 0;
        margin: 0.6rem 15.1rem 0.8rem 0rem;
        width: 5rem;
        height: calc(100% - 1.4rem);
        position: relative;

        .rectangle-81-2ww {
          top: 0.9rem;
          background-color: #ffffff;
          width: 3.2rem;
          height: 3.2rem;
          position: absolute;
          left: 0.9rem;
        }
        .tiktok-1-8k5 {
          height: 5rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 5rem;
        }
      }
      .layer1-36M {
        flex-shrink: 0;
        margin: 0rem 3rem 0rem 0rem;
        width: 2.3rem;
        height: 2.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .layer1-LLM {
        margin: 0.1rem 3rem 0rem 0rem;
        width: 2.4rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-13-2iy {
        width: 6.4rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .ellipse-2-MmF {
          width: 5.2rem;
          height: 5.2rem;
          position: absolute;
          left: 0.6rem;
          top: 0.6rem;
          background-color: #d9d9d9;
          border-radius: 2.6rem;
        }
        .ellipse-3-Frd {
          height: 5rem;
          position: absolute;
          left: 0.7rem;
          top: 0.7rem;
          background-color: #ffffff;
          border-radius: 2.5rem;
          width: 5rem;
        }
        .item-6522516-1-yGq {
          vertical-align: top;
          width: 6.4rem;
          height: 6.4rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
        }
        .item-6522516-2-UjP {
          width: 6.4rem;
          height: 6.4rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .vector-69-b3K {
    height: 0;
    position: absolute;
    left: 0.1rem;
    top: 8.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 150.45rem;
  }
  .auto-group-cjj5-to7 {
    width: 41.7rem;
    height: 10.5rem;
    position: absolute;
    left: 31rem;
    top: 22.6rem;
    display: flex;
    align-items: center;

    .auto-group-ntnv-zr9 {
      flex-shrink: 0;
      margin: 0.6rem 2.5rem 1.8rem 0rem;
      width: 8rem;
      height: calc(100% - 2.4rem);
      position: relative;

      .ellipse-1-uCR {
        left: 0;
        top: 0;
        background-color: #d9d9d9;
        border-radius: 4rem;
        width: 8rem;
        height: 8rem;
        position: absolute;
      }
      .screen-shot-2023-03-14-at-2022-2-RAm {
        width: 8rem;
        height: 8.1rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 9rem;
      }
    }
    .auto-group-x9wd-JVT {
      flex-shrink: 0;
      width: 31.2rem;
      height: 100%;

      .auto-group-4zfw-1uf {
        margin: 0rem 19.1rem 1rem 0rem;
        width: calc(100% - 19.1rem);
        display: flex;
        align-items: flex-start;

        .miro99-WLd {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.4rem;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .auto-group-aweh-245 {
          justify-content: center;
          border-radius: 0.6rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 300;
          background-color: #232628;
          flex-shrink: 0;
          width: 5.7rem;
          display: flex;
          align-items: center;
          height: 2.1rem;
          font-size: 1rem;
          color: #ffffff;
        }
      }
      .sheesh-digital-marketing-and-graphic-design-adobe-suites-4Ff {
        margin-bottom: 1.5rem;
        max-width: 30.3rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
      .auto-group-u1rw-j6u {
        margin-left: 0.1rem;
        height: 2.1rem;
        display: flex;
        column-gap: 4.9rem;
        align-items: center;

        .auto-group-5tkd-q9w {
          height: 100%;
          font-weight: 300;
          color: #ffffff;
          background-color: #232628;
          white-space: nowrap;
          border: solid 0.1rem #ffffff;
          box-sizing: border-box;
          border-radius: 0.6rem;
          width: 7.1rem;
          line-height: 1.5;
          display: flex;
          align-items: center;
          font-size: 1rem;
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
        }
        .auto-group-bqa5-Rtq {
          font-size: 1rem;
          background-color: #232628;
          border-radius: 0.6rem;
          flex-shrink: 0;
          font-family: Poppins, 'Source Sans Pro';
          justify-content: center;
          width: 7.1rem;
          height: 100%;
          font-weight: 300;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          color: #ffffff;
          display: flex;
        }
        .auto-group-5mjd-VNu {
          display: flex;
          justify-content: center;
          height: 100%;
          font-weight: 300;
          line-height: 1.5;
          border-radius: 0.6rem;
          width: 7.1rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1rem;
          align-items: center;
          background-color: #232628;
          flex-shrink: 0;
          white-space: nowrap;
        }
      }
    }
  }
  .welcome-MAD {
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    top: 17.1rem;
    font-weight: 500;
    position: absolute;
    left: 31rem;
    font-size: 1.6rem;
    line-height: 1.5;
    width: 8.3rem;
    height: 2.4rem;
  }
  .about-Rfs {
    width: 4.9rem;
    height: 2.4rem;
    font-weight: 500;
    line-height: 1.5;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 31rem;
    top: 38.3rem;
    font-size: 1.6rem;
    font-family: Poppins, 'Source Sans Pro';
  }
  .recently-browsed-hdP {
    width: 14.4rem;
    position: absolute;
    left: 31rem;
    top: 67.2rem;
    line-height: 1.5;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    height: 2.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .auto-group-ggwx-z6h {
    box-sizing: border-box;
    padding: 1.6rem 2.5rem;
    height: 8.2rem;
    border-radius: 2.1rem;
    width: 72.1rem;
    position: absolute;
    left: 31rem;
    top: 53rem;
    background-color: #232628;

    .interests-U1s {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.5;
      color: #ffffff;
    }
    .digital-marketing-and-graphic-design-adobe-suites-nHT {
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  .auto-group-de9t-TeV {
    box-sizing: border-box;
    width: 72.1rem;
    border-radius: 2.1rem;
    background-color: #232628;
    padding: 1.6rem 2.5rem;
    height: 8.2rem;
    position: absolute;
    left: 31rem;
    top: 43.2rem;

    .bio-A37 {
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
    }
    .sheesh-5Qy {
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
  .auto-group-3ftr-BD7 {
    align-items: flex-start;
    width: 47.2rem;
    height: 7.9rem;
    position: absolute;
    left: 31rem;
    top: 106.8rem;
    display: flex;

    .rectangle-87-5pH {
      flex-shrink: 0;
      margin-right: 3.8rem;
      width: 8.1rem;
      height: 7.9rem;
      background-color: #d9d9d9;
      border-radius: 0.6rem;
    }
    .auto-group-jaqb-NHb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .bibletech-6jP {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        color: #ffffff;
      }
      .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-chj {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
  .auto-group-a5e5-K6M {
    align-items: center;
    width: 71.9rem;
    height: 8.2rem;
    position: absolute;
    left: 31.2rem;
    top: 73.6rem;
    display: flex;

    .ec-ac1c-4a9c-a816-a1fb1882abbe-1-bpZ {
      margin: 0.3rem 3.9rem 0rem 0rem;
      width: 7.9rem;
      height: 7.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-qsd3-Gvh {
      margin: 0rem 20.7rem 0.5rem 0rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .flutter-flow-Z97 {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
      }
      .build-native-android-and-ios-apps-without-code-3a5 {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 24.9rem;
      }
      .auto-group-n7z5-L3P {
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .layer1-epm {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.5rem 0.1rem 0rem;
          width: 1.3rem;
          height: 1.1rem;
        }
        .item-120-LSh {
          flex-shrink: 0;
          margin-right: 4.1rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .free-SVj {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.3rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .no-code-tool-Msb {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
    .auto-group-zjkz-sL9 {
      box-sizing: border-box;
      height: calc(100% - 6.1rem);
      display: flex;
      border: solid 0.1rem #ffffff;
      flex-shrink: 0;
      margin: 2.4rem 1.3rem 3.7rem 0rem;
      padding: 0.4rem 2.049rem 0.2rem 2.15rem;
      align-items: center;
      background-color: #000000;
      border-radius: 0.6rem;

      .item-120-Xfb {
        font-weight: 300;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1rem;
        text-align: center;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        margin-right: 0.65rem;
      }
      .vector-64-pub {
        margin-bottom: 0.1991rem;
        width: 0.7511rem;
        height: 0.3009rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .layer1-VVw {
      width: 2.4rem;
      height: 2.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.3rem 1.3rem 0rem;
    }
    .group-9-nzq {
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.2rem;
      width: 2.4rem;
      height: 2.4rem;
      object-fit: contain;
    }
  }
  .auto-group-df1w-Wfw {
    align-items: center;
    width: 72rem;
    height: 8rem;
    position: absolute;
    left: 31.1rem;
    top: 86.1rem;
    display: flex;

    .webflowlogoicon169218-1-cU5 {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ojc9-8BX {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.2rem 0rem 0.2rem 3.9rem;
      height: 100%;

      .auto-group-5rvd-b57 {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 24.3rem 1.3rem 0rem;
        width: 21.3rem;
        align-items: center;
        display: flex;

        .auto-group-sbid-h89 {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 0.4rem;
          width: 100%;
          display: flex;

          .webflow-QHT {
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 1.5rem;
          }
          .build-websites-without-code-A3f {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5;
          }
        }
        .auto-group-xway-4eq {
          width: 100%;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .layer1-bPs {
            margin: 0rem 0.5rem 0.1rem 0rem;
            width: 1.3rem;
            height: 1.1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .item-120-JJH {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.1rem;
          }
          .free-cJy {
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.3rem;
            font-size: 1rem;
            font-weight: 300;
          }
          .no-code-tool-KDP {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1.5;
          }
        }
      }
      .auto-group-h3q7-27o {
        margin: 2.3rem 1.3rem 3.2rem 0rem;
        height: calc(100% - 5.5rem);
        display: flex;
        align-items: center;
        border: solid 0.1rem #ffffff;
        background-color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.3rem 2.049rem 0.3rem 2.35rem;
        border-radius: 0.6rem;

        .item-120-gi9 {
          color: #ffffff;
          flex-shrink: 0;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.45rem;
          text-align: center;
        }
        .vector-65-nWH {
          margin-top: 0.0009rem;
          width: 0.7511rem;
          height: 0.3009rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .group-7-Rp9 {
        margin: 0rem 1.3rem 0.9rem 0rem;
        width: 2.4rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-10-Wah {
        margin-bottom: 0.6rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
