
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 27rem;
}.browse-1000-of-the-latest-tech-tools-per-task-updated-daily-uRX {
  width: 100%;
  height: 3.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
