
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}

#search-box:focus{
  border: 0px !important;
  outline: none;
}

#email_input{
  border: 0px !important;
  outline: none;
}

#email_input{
width: 12em;
border: 0px transparent;
}
#search-box{
width: 37em;
border: 0px transparent;
}

ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-nEq {
  width: 100%;
  height: 146.1rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}
.desktop-1-nEq .vector-3-4zy {
  width: 5.8rem;
  height: 0;
  position: absolute;
  left: 23.8rem;
  top: 5.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 25rem;
}
.desktop-1-nEq .news-7TT {
  width: 4.4rem;
  height: 2.4rem;
  position: absolute;
  left: 104.8rem;
  top: 11.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .discover-more-8dT {
  width: 10.9rem;
  height: 2.4rem;
  position: absolute;
  left: 79.2rem;
  top: 37.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .vector-53-i5s {
  width: 29.35rem;
  height: 0.2142rem;
  position: absolute;
  left: 104.8rem;
  top: 44.0026rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .app-of-the-day-kYM {
  width: 11.9rem;
  height: 2.4rem;
  position: absolute;
  left: 10rem;
  top: 36.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .rectangle-78-gaR {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 12.7rem;
  top: 56.2rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
}
.desktop-1-nEq .rectangle-79-xH3 {
  width: 2.8rem;
  height: 2.8rem;
  position: absolute;
  left: 39.2rem;
  top: 56.2rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
}
.desktop-1-nEq .rectangle-73-r7X {
  width: 27.8rem;
  height: 3.6rem;
  position: absolute;
  left: 104.8rem;
  top: 80.8rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #181a1a;
  border-radius: 0.6rem;
}
.desktop-1-nEq .vector-55-jyw {
  width: 29.2rem;
  height: 0;
  position: absolute;
  left: 104.8rem;
  top: 90.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .vector-54-r2y {
  width: 0;
  height: 19.3rem;
  position: absolute;
  left: 10rem;
  top: 52.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .trendy-posts-of-the-week-m9w {
  width: 19.7rem;
  height: 2.3rem;
  position: absolute;
  left: 114.7rem;
  top: 49.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-nEq .trendy-posts-of-the-week-m9w .trendy-posts-of-the-week-m9w-sub-0 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .trendy-posts-of-the-week-m9w .trendy-posts-of-the-week-m9w-sub-1 {
}
.desktop-1-nEq .slack-boosts-ai-capabilities-with-new-chatgpt-app-YM3 {
  width: 27rem;
  height: 4.5rem;
  position: absolute;
  left: 104.9rem;
  top: 18.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .government-backed-digital-money-to-represent-213b-in-payments-by-2030-aoX {
  width: 28.3rem;
  height: 4.5rem;
  position: absolute;
  left: 104.9rem;
  top: 32.6rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .how-many-jobs-are-available-in-technology-in-the-us-qDf {
  width: 23.3rem;
  height: 4.5rem;
  position: absolute;
  left: 104.9rem;
  top: 25.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .news-letter-W4u {
  width: 9.3rem;
  height: 2.4rem;
  position: absolute;
  left: 104.8rem;
  top: 95.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .get-the-latest-saas-products-news-directly-to-your-inbox-no7 {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 104.8rem;
  top: 97.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .adobe-suites-3j3 {
  width: 9.7rem;
  height: 2.3rem;
  position: absolute;
  left: 12.7rem;
  top: 61.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-j65 {
  width: 18.4rem;
  height: 3.6rem;
  position: absolute;
  left: 12.7rem;
  top: 63.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .minecraft-Mt9 {
  width: 7rem;
  height: 2.3rem;
  position: absolute;
  left: 39.2rem;
  top: 61.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-NYM {
  width: 18.4rem;
  height: 3.6rem;
  position: absolute;
  left: 39.2rem;
  top: 63.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .python-m4h {
  width: 5.1rem;
  height: 2.3rem;
  position: absolute;
  left: 65.7rem;
  top: 61.1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-Eys {
  width: 18.4rem;
  height: 3.6rem;
  position: absolute;
  left: 65.7rem;
  top: 63.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .cheers--Jyj {
  width: 6rem;
  height: 1.8rem;
  position: absolute;
  left: 109.9rem;
  top: 59.1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .published-by-r-rita64-2-hours-ago-Mh7 {
  width: 21.6rem;
  height: 1.8rem;
  position: absolute;
  left: 109.8rem;
  top: 56.4rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-nEq .published-by-r-rita64-2-hours-ago-Mh7 .published-by-r-rita64-2-hours-ago-Mh7-sub-0 {
}
.desktop-1-nEq .published-by-r-rita64-2-hours-ago-Mh7 .published-by-r-rita64-2-hours-ago-Mh7-sub-1 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .published-by-r-rita64-2-hours-ago-Mh7 .published-by-r-rita64-2-hours-ago-Mh7-sub-2 {
}
.desktop-1-nEq .vector-57-P1X {
  width: 0.3004rem;
  height: 0.751rem;
  position: absolute;
  left: 91.3rem;
  top: 38.1rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .chat-gpt-4tM {
  width: 6.9rem;
  height: 2.3rem;
  position: absolute;
  left: 20.5rem;
  top: 42.8rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-xTw {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 20.5rem;
  top: 45.3rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .adobe-xd-2ih {
  width: 7.3rem;
  height: 2.3rem;
  position: absolute;
  left: 21.9rem;
  top: 82.6rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-X9f {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 21.9rem;
  top: 85.1rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .canva-77s {
  width: 5rem;
  height: 2.3rem;
  position: absolute;
  left: 21.9rem;
  top: 120.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-j9F {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 21.9rem;
  top: 123.2rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .behance-zay {
  width: 6.6rem;
  height: 2.3rem;
  position: absolute;
  left: 21.9rem;
  top: 108rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-FG1 {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 21.9rem;
  top: 110.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .figma-7p1 {
  width: 4.7rem;
  height: 2.3rem;
  position: absolute;
  left: 21.9rem;
  top: 95.3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-DMF {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 21.9rem;
  top: 97.8rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .you-might-also-like-UHB {
  width: 11.1rem;
  height: 2.4rem;
  position: absolute;
  left: 12.7rem;
  top: 52.8rem;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.1818181818;
  color: #14c888;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .community-wgZ {
  width: 9.7rem;
  height: 2.4rem;
  position: absolute;
  left: 104.8rem;
  top: 49.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .ask-questions-pkM {
  width: 10rem;
  height: 2.4rem;
  position: absolute;
  left: 113.5rem;
  top: 81.4rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .rectangle-89-VrV {
  width: 27.8rem;
  height: 3.6rem;
  position: absolute;
  left: 104.8rem;
  top: 110.1rem;
  background-color: #7869e6;
  border-radius: 0.6rem;
}
.desktop-1-nEq .subscribe-to-news-letter-149 {
  width: 16.9rem;
  height: 2.4rem;
  position: absolute;
  left: 110.1rem;
  top: 110.7rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7142857143;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .rectangle-90-S9T {
  width: 27.8rem;
  height: 3.6rem;
  position: absolute;
  left: 104.8rem;
  top: 104.5rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.desktop-1-nEq .your-email-CH3 {
  width: 7.5rem;
  height: 2.4rem;
  position: absolute;
  left: 105.9rem;
  top: 105.1rem;
  display: flex;
  font-size: 1.3rem;
  line-height: 1.8461538462;
  letter-spacing: 0.065rem;
  font-style: italic;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .layer1-qau {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 77.6rem;
  top: 85.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .layer1-M3T {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 77.6rem;
  top: 123.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .layer1-f49 {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 77.6rem;
  top: 97.6rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .layer1-Z9X {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 77.6rem;
  top: 110.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .vector-69-4ry {
  width: 143.9rem;
  height: 0;
  position: absolute;
  left: 0.1rem;
  top: 8.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .vector-70-BRo {
  width: 0.107rem;
  height: 120.0973rem;
  position: absolute;
  left: 98.1935rem;
  top: 8.5rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .item-120-6Hs {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 23.7rem;
  top: 89.4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .premium-aTw {
  width: 4.5rem;
  height: 1.5rem;
  position: absolute;
  left: 29.3rem;
  top: 89.4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .design-tool-FKB {
  width: 5.6rem;
  height: 1.5rem;
  position: absolute;
  left: 36.7rem;
  top: 89.4rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .layer1-885 {
  width: 1.3rem;
  height: 1.1rem;
  position: absolute;
  left: 21.9rem;
  top: 89.7rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .item-120-bnM {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 23.7rem;
  top: 127.5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .free-26y {
  width: 2.1rem;
  height: 1.5rem;
  position: absolute;
  left: 29.3rem;
  top: 127.5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .design-tool-SRb {
  width: 5.6rem;
  height: 1.5rem;
  position: absolute;
  left: 36.7rem;
  top: 127.5rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .layer1-toP {
  width: 1.3rem;
  height: 1.1rem;
  position: absolute;
  left: 21.9rem;
  top: 127.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .item-120-oQZ {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 23.7rem;
  top: 114.7rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .free-gUM {
  width: 2.1rem;
  height: 1.5rem;
  position: absolute;
  left: 29.3rem;
  top: 114.7rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .portfolio-tool-yTT {
  width: 6.2rem;
  height: 1.5rem;
  position: absolute;
  left: 36.7rem;
  top: 114.6rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .layer1-TtR {
  width: 1.3rem;
  height: 1.1rem;
  position: absolute;
  left: 21.9rem;
  top: 115rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .item-120-mPK {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 23.7rem;
  top: 102rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .free-3rd {
  width: 2.1rem;
  height: 1.5rem;
  position: absolute;
  left: 29.3rem;
  top: 102rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .design-tool-kFF {
  width: 5.6rem;
  height: 1.5rem;
  position: absolute;
  left: 36.7rem;
  top: 101.9rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .layer1-SNy {
  width: 1.3rem;
  height: 1.1rem;
  position: absolute;
  left: 21.9rem;
  top: 102.3rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .adobexdccicon-1-k8m {
  width: 8.1rem;
  height: 7.9rem;
  position: absolute;
  left: 10rem;
  top: 82.6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .pngwing-1-2MB {
  width: 9.6rem;
  height: 9.6rem;
  position: absolute;
  left: 9.2rem;
  top: 94.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .behance-logo-vector-1-UDB {
  width: 8.098rem;
  height: 5.1rem;
  position: absolute;
  left: 10.0011rem;
  top: 109.2rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .adobecreativecloudrainbowicon-1-W9s {
  width: 2.9rem;
  height: 2.8rem;
  position: absolute;
  left: 12.7rem;
  top: 56.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .minecraft-2752120-2284937-1-jYR {
  width: 2.9rem;
  height: 2.9rem;
  position: absolute;
  left: 39.1rem;
  top: 56.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .python-logo-notext-1-oYH {
  width: 2.6rem;
  height: 2.9rem;
  position: absolute;
  left: 65.8rem;
  top: 56.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .chatgptlogo-1-tZj {
  width: 7.3rem;
  height: 7.3rem;
  position: absolute;
  left: 10.4rem;
  top: 42.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .canva-logo-1-PmP {
  width: 7.9rem;
  height: 7.9rem;
  position: absolute;
  left: 10.2rem;
  top: 121rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .item--tTF {
  width: 0.9rem;
  height: 1.8rem;
  position: absolute;
  left: 109.9rem;
  top: 65.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .published-by-r-imane31-20-hours-ago-xT7 {
  width: 23.5rem;
  height: 1.8rem;
  position: absolute;
  left: 109.9rem;
  top: 63.6rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-nEq .published-by-r-imane31-20-hours-ago-xT7 .published-by-r-imane31-20-hours-ago-xT7-sub-0 {
}
.desktop-1-nEq .published-by-r-imane31-20-hours-ago-xT7 .published-by-r-imane31-20-hours-ago-xT7-sub-1 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .published-by-r-imane31-20-hours-ago-xT7 .published-by-r-imane31-20-hours-ago-xT7-sub-2 {
}
.desktop-1-nEq .how-do-you-improve-productiviy--xE9 {
  width: 21.5rem;
  height: 1.8rem;
  position: absolute;
  left: 109.9rem;
  top: 72.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .published-by-r-miro99-20-hours-ago-1y7 {
  width: 22.6rem;
  height: 1.8rem;
  position: absolute;
  left: 109.8rem;
  top: 70.4rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-1-nEq .published-by-r-miro99-20-hours-ago-1y7 .published-by-r-miro99-20-hours-ago-1y7-sub-0 {
}
.desktop-1-nEq .published-by-r-miro99-20-hours-ago-1y7 .published-by-r-miro99-20-hours-ago-1y7-sub-1 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .published-by-r-miro99-20-hours-ago-1y7 .published-by-r-miro99-20-hours-ago-1y7-sub-2 {
}
.desktop-1-nEq .rectangle-103-7Ps {
  width: 5.4rem;
  height: 2.1rem;
  position: absolute;
  left: 12.8rem;
  top: 69.3rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #181a1a;
  border-radius: 0.6rem;
}
.desktop-1-nEq .visit-aoF {
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  left: 14.55rem;
  top: 69.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .rectangle-105-Gg5 {
  width: 5.4rem;
  height: 2.1rem;
  position: absolute;
  left: 65.8rem;
  top: 69.3rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #181a1a;
  border-radius: 0.6rem;
}
.desktop-1-nEq .visit-kr9 {
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  left: 67.5rem;
  top: 69.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .rectangle-104-FH7 {
  width: 5.4rem;
  height: 2.1rem;
  position: absolute;
  left: 39.3rem;
  top: 69.3rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #181a1a;
  border-radius: 0.6rem;
}
.desktop-1-nEq .visit-8Lu {
  width: 2rem;
  height: 1.5rem;
  position: absolute;
  left: 41rem;
  top: 69.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .screen-shot-2023-03-14-at-2021-1-d2m {
  width: 4rem;
  height: 4.1rem;
  position: absolute;
  left: 104.9rem;
  top: 63.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 9rem;
}
.desktop-1-nEq .screen-shot-2023-03-14-at-2022-1-Vqf {
  width: 4.1rem;
  height: 4.1rem;
  position: absolute;
  left: 104.8rem;
  top: 56.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 9rem;
}
.desktop-1-nEq .screen-shot-2023-03-14-at-2022-2-nJy {
  width: 4rem;
  height: 4.1rem;
  position: absolute;
  left: 104.9rem;
  top: 70.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 9rem;
}
.desktop-1-nEq .item-20-rZj {
  width: 1.2rem;
  height: 1.5rem;
  position: absolute;
  left: 78.2rem;
  top: 87.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .item-30-LE1 {
  width: 1.3rem;
  height: 1.5rem;
  position: absolute;
  left: 78.15rem;
  top: 99.9rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .item-186-DHo {
  width: 1.6rem;
  height: 1.5rem;
  position: absolute;
  left: 78rem;
  top: 112.8rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .item-20-VWD {
  width: 1.2rem;
  height: 1.5rem;
  position: absolute;
  left: 78.2rem;
  top: 125.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .section-1-aGm {
  width: 81.6rem;
  height: 19.8rem;
  position: absolute;
  left: 10rem;
  top: 11.8rem;
  box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
  background-color: #232628;
  border-radius: 2.1rem;
}
.desktop-1-nEq .title-cUM {
  width: 29.3rem;
  height: 2.4rem;
  position: absolute;
  left: 12.8rem;
  top: 14.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .search-bar-J6H {
  width: 72.1rem;
  height: 3.6rem;
  position: absolute;
  left: 12.8rem;
  top: 18.7rem;
  background-color: #ffffff;
  border-radius: 0.6rem;
}
.desktop-1-nEq .search-icon-o33 {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 13.7rem;
  top: 19.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .search-gMj {
  width: 6.1rem;
  height: 2.4rem;
  position: absolute;
  left: 20rem;
  top: 19.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.08rem;
  font-style: italic;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .filter-button-w2m {
  width: 3.2rem;
  height: 2.8003rem;
  position: absolute;
  left: 85.8001rem;
  top: 19rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .share-link-button-E1s {
  width: 1.3667rem;
  height: 1.3667rem;
  position: absolute;
  left: 85.9rem;
  top: 13.497rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .close-button-XWm {
  width: 2.4848rem;
  height: 2.4848rem;
  position: absolute;
  left: 87.5152rem;
  top: 13rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-qnM {
  width: 27rem;
  height: 3.6rem;
  position: absolute;
  left: 24.4rem;
  top: 25.3rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.desktop-1-nEq .chatgptlogo--W7o {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 17.8rem;
  top: 24.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3.65rem;
}
.desktop-1-nEq .canva-logo--oMo {
  width: 4.8rem;
  height: 4.8rem;
  position: absolute;
  left: 15.5rem;
  top: 24.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .adobe-suites-logo-7dP {
  width: 5rem;
  height: 4.8rem;
  position: absolute;
  left: 13rem;
  top: 24.7rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2.4rem;
}
.desktop-1-nEq .sign-up-button-boT {
  width: 8.6rem;
  height: 3.6rem;
  position: absolute;
  left: 125.4rem;
  top: 2.6rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7869e6;
  border-radius: 0.6rem;
}
.desktop-1-nEq .sign-in-button-zqb {
  width: 8.6rem;
  height: 3.6rem;
  position: absolute;
  left: 113.8rem;
  top: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  border-radius: 0.6rem;
}
.desktop-1-nEq .community-21b {
  width: 8.8rem;
  height: 2.4rem;
  position: absolute;
  left: 78.75rem;
  top: 3.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .resources-5Em {
  width: 7.7rem;
  height: 2.4rem;
  position: absolute;
  left: 60.5rem;
  top: 3.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .submit-your-tool-xZT {
  width: 12.2rem;
  height: 2.4rem;
  position: absolute;
  left: 39.4rem;
  top: 3.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .all-tools-357 {
  width: 5.7rem;
  height: 2.4rem;
  position: absolute;
  left: 23.9rem;
  top: 3.1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-nEq .tiktok-logo-WUV {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 92.6rem;
  top: 1.8rem;
}
.desktop-1-nEq .tiktok-logo-WUV .rectangle-81-pEH {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: #ffffff;
}
.desktop-1-nEq .tiktok-logo-WUV .tiktok-1-KRw {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .tech-bible-logo-373 {
  box-sizing: border-box;
  padding: 3rem 0.4rem 0.3rem 0.4rem;
  width: 5.1rem;
  height: 5.2rem;
  position: absolute;
  left: 10.3rem;
  top: 1.4rem;
  border: solid 0.2rem #ffffff;
}
.desktop-1-nEq .tech-bible-logo-373 .tech-bible-J2y {
  max-width: 2.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.0402272542;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-1-nEq .group-25-Aqs {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 81.6rem;
  top: 84.9rem;
}
.desktop-1-nEq .group-25-Aqs .ellipse-4-gZK {
  width: 2.3529rem;
  height: 2.2794rem;
  position: absolute;
  left: 0.0735rem;
  top: 0.0735rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .group-25-Aqs .item-32360-1-o89 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .group-28-Jqb {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 81.5rem;
  top: 110.5rem;
}
.desktop-1-nEq .group-28-Jqb .ellipse-4-q4q {
  width: 2.3529rem;
  height: 2.2794rem;
  position: absolute;
  left: 0.0735rem;
  top: 0.0735rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .group-28-Jqb .item-32360-1-95X {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .group-25-fJm {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 81.6rem;
  top: 97.6rem;
}
.desktop-1-nEq .group-25-fJm .ellipse-4-nPP {
  width: 2.3529rem;
  height: 2.2794rem;
  position: absolute;
  left: 0.0735rem;
  top: 0.0735rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .group-25-fJm .item-32360-1-txD {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .group-29-ctD {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 81.5rem;
  top: 123.2rem;
}
.desktop-1-nEq .group-29-ctD .ellipse-4-97T {
  width: 2.3529rem;
  height: 2.2794rem;
  position: absolute;
  left: 0.0735rem;
  top: 0.0735rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-1-nEq .group-29-ctD .item-32360-1-eK7 {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-nEq .white-youtube-icon-png-28-1-xqb {
  width: 3.7rem;
  height: 3.7rem;
  position: absolute;
  left: 97.8rem;
  top: 2.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.9rem;
}
.desktop-1-nEq .pngfind-1-eCd {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 102.8rem;
  top: 3.3rem;
  object-fit: cover;
  vertical-align: top;
}
