
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.profile-my-list-Tyo {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV {
  width: 122.9rem;
  height: 8.4rem;
  position: absolute;
  left: 10rem;
  top: 0.1rem;
  display: flex;
  align-items: center;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .eba91235a2dc1787ad14305033cb2e0ec5720x720-1-Rp9 {
  width: 8.1rem;
  height: 8.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK {
  box-sizing: border-box;
  padding: 1rem 0rem 1rem 5.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .auto-group-q66q-bs3 {
  margin: 2rem 9.8rem 2rem 0rem;
  width: 5.8rem;
  height: calc(100% - 4rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .auto-group-q66q-bs3 .all-tools-Hjs {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .auto-group-q66q-bs3 .vector-3-ZxH {
  width: 5.8rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  border-radius: 25rem;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .submit-your-tool-sTB {
  margin-right: 8.9rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .resources-m2m {
  margin-right: 10.55rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .community-f89 {
  margin-right: 8.15rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .auto-group-5b3b-N2Z {
  margin: 0.6rem 15.1rem 0.8rem 0rem;
  width: 5rem;
  height: calc(100% - 1.4rem);
  position: relative;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .auto-group-5b3b-N2Z .rectangle-81-rTX {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 0.9rem;
  top: 0.9rem;
  background-color: #ffffff;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .auto-group-5b3b-N2Z .tiktok-1-Yr9 {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .layer1-SwX {
  margin: 0rem 3rem 0rem 0rem;
  width: 2.3rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .layer1-kBX {
  margin: 0.1rem 3rem 0rem 0rem;
  width: 2.4rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .group-13-4CD {
  width: 6.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .group-13-4CD .ellipse-2-bC9 {
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  left: 0.6rem;
  top: 0.6rem;
  background-color: #d9d9d9;
  border-radius: 2.6rem;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .group-13-4CD .ellipse-3-VHX {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 0.7rem;
  top: 0.7rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .group-13-4CD .item-6522516-1-oZ7 {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.profile-my-list-Tyo .auto-group-xkcz-MJV .auto-group-x4sy-ujK .group-13-4CD .item-6522516-2-v7w {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.profile-my-list-Tyo .vector-69-pUD {
  width: 150.45rem;
  height: 0;
  position: absolute;
  left: 0.1rem;
  top: 8.5rem;
  object-fit: contain;
  vertical-align: top;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 {
  width: 41.7rem;
  height: 10.5rem;
  position: absolute;
  left: 31rem;
  top: 22.6rem;
  display: flex;
  align-items: center;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-1cjx-dAm {
  margin: 0.6rem 2.5rem 1.8rem 0rem;
  width: 8rem;
  height: calc(100% - 2.4rem);
  position: relative;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-1cjx-dAm .ellipse-1-jUh {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #d9d9d9;
  border-radius: 4rem;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-1cjx-dAm .screen-shot-2023-03-14-at-2022-2-4G5 {
  width: 8rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 9rem;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 {
  width: 31.2rem;
  height: 100%;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-kksm-GN9 {
  margin: 0rem 20.3rem 1rem 0rem;
  width: calc(100% - 20.3rem);
  display: flex;
  align-items: flex-start;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-kksm-GN9 .miro99-AyK {
  margin-right: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-kksm-GN9 .auto-group-9dyf-5qP {
  width: 5.7rem;
  height: 2.1rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232628;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .sheesh-digital-marketing-and-graphic-design-adobe-suites-9KT {
  margin-bottom: 1.5rem;
  max-width: 30.4rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-wwdf-cTw {
  margin-left: 0.1rem;
  height: 2.1rem;
  display: flex;
  column-gap: 4.9rem;
  align-items: center;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-wwdf-cTw .auto-group-d1d7-Kt9 {
  width: 7.1rem;
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232628;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-wwdf-cTw .auto-group-xyd3-Pd7 {
  width: 7.1rem;
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #232628;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-abdw-vn9 .auto-group-ij1s-Yh3 .auto-group-wwdf-cTw .auto-group-4ucv-SLV {
  width: 7.1rem;
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232628;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.profile-my-list-Tyo .welcome-tiH {
  width: 8.3rem;
  height: 2.4rem;
  position: absolute;
  left: 31rem;
  top: 17.1rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.profile-my-list-Tyo .auto-group-a2fw-m1P {
  width: 47.2rem;
  height: 7.9rem;
  position: absolute;
  left: 31rem;
  top: 106.8rem;
  display: flex;
  align-items: flex-start;
}
.profile-my-list-Tyo .auto-group-a2fw-m1P .rectangle-87-tVK {
  margin-right: 3.8rem;
  width: 8.1rem;
  height: 7.9rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-a2fw-m1P .auto-group-typp-PS5 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-a2fw-m1P .auto-group-typp-PS5 .bibletech-7cy {
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.profile-my-list-Tyo .auto-group-a2fw-m1P .auto-group-typp-PS5 .browse-1000-of-the-latest-tech-tools-per-task-updated-daily-Rdf {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
