
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 81.6rem;
}.section-1-hBs {
  width: 100%;
  height: 19.8rem;
  box-shadow: 0 0.4rem 3rem rgba(56, 55, 55, 0.200000003);
  background-color: rgba(35, 38, 40, 0.5899999738);
  border-radius: 2.1rem;
}
