.liked-tools-container {
    width: 66.4rem;
    height: 2.4rem;
    position: absolute;
    left: 31rem;
    top: 70.9rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    /* border: 1px solid; */
}

.liked-tools-container .tool-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 4rem;
    margin-top: 2em;
}

.liked-tools-container .tool-container .tool-logo {
    height: 7.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 3.8rem 0.4rem 0rem;
    width: 8.1rem;
}

.liked-tools-container .tool-container .tool-data {
    display: flex;
    flex-direction: column;
}

.liked-tools-container .tool-container .tool-title {
    flex-shrink: 0;
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
}

.liked-tools-container .tool-container .tool-comments {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 4.1rem;
}

.liked-tools-container .tool-container .tool-comments .layer1-xx5 {
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0.2rem 0.5rem 0rem 0rem;
    width: 1.3rem;
    height: 1.1rem;
}

.liked-tools-container .tool-container .tool-data .tool-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    flex-shrink: 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    margin-bottom: 0.7rem;
    max-width: 42rem;
}

.liked-tools-container .tool-container .tool-icons {
    display: flex;
}
.liked-tools-container .tool-container .tool-icons .like-eGV {
    height: 2.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0.2rem 1.6rem 0rem 0rem;
    width: 2.4rem;
    cursor: pointer;
}

.liked-tools-container .tool-container .tool-icons .save-3ZX{
    width: 2.5rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
}
.liked-tools-container .tool-container .tool-icons .ellipse-4-v7X{
    left: 0.0735rem;
    top: 0.0735rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.3529rem;
    height: 2.2794rem;
    position: absolute;
    z-index: 0;
}

.liked-tools-container .tool-container .tool-icons .item-32360-1-iJH{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
}







/* .auto-group-7wa1-Yvh .auto-group-8r4h-YpD .liked-tools-container .tool-container {
    margin-bottom: 3.6rem;
    height: 8.3rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .tool-logo {
    margin: 0rem 3.8rem 0.4rem 0rem;
    width: 8.1rem;
    height: 7.9rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .auto-group-1hwv-Rmo {
    margin-right: 28.7rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .auto-group-1hwv-Rmo .adobe-xd-67F {
    margin-bottom: 0.2rem;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }


.liked-tools-container .tool-container .auto-group-1hwv-Rmo .auto-group-ebkb-hWM {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .auto-group-1hwv-Rmo .auto-group-ebkb-hWM .layer1-xx5 {
    margin: 0.2rem 0.5rem 0rem 0rem;
    width: 1.3rem;
    height: 1.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .auto-group-1hwv-Rmo .auto-group-ebkb-hWM .item-120-kd3 {
    margin-right: 4.1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .auto-group-1hwv-Rmo .auto-group-ebkb-hWM .premium-mY9 {
    margin-right: 2.9rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .auto-group-1hwv-Rmo .auto-group-ebkb-hWM .design-tool-oDw {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #F5F5F7;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .like-save-button-RFK {
    margin: 2.3rem 0rem 1.9rem 0rem;
    width: 6.5rem;
    height: calc(100% - 4.2rem);
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .like-save-button-RFK .auto-group-l2sx-bp1 {
    margin-bottom: 0.1rem;
    width: 100%;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }
.liked-tools-container .tool-container .like-save-button-RFK .auto-group-l2sx-bp1 .like-eGV {
    margin: 0.2rem 1.6rem 0rem 0rem;
    width: 2.4rem;
    height: 2.1rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    cursor: pointer;
  }
.liked-tools-container .tool-container .like-save-button-RFK .auto-group-l2sx-bp1 .save-3ZX {
    width: 2.5rem;
    height: 100%;
    position: relative;
    flex-shrink: 0;
  }
.liked-tools-container .tool-container .like-save-button-RFK .auto-group-l2sx-bp1 .save-3ZX .ellipse-4-v7X {
    width: 2.3529rem;
    height: 2.2794rem;
    position: absolute;
    left: 0.0735rem;
    top: 0.0735rem;
    object-fit: contain;
    vertical-align: top;
  }
.liked-tools-container .tool-container .like-save-button-RFK .auto-group-l2sx-bp1 .save-3ZX .item-32360-1-iJH {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    vertical-align: top;
  } */